<template>
  <div class="home-form-wrapper">
    <h1></h1>
    <form @submit.prevent="login">
      <v-card class="elevation-1">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{home.type && home.type.name ? home.type.name : 'Home'}} {{isForRentOrSell ? 'for rent' : 'for sale'}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="closePopup"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>
        <v-card-text>

          <v-stepper v-model="currentStep">
            <v-stepper-header>
              <v-stepper-step
                :complete="currentStep > 1"
                editable
                step="1"
              >
                Listing type
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                :complete="currentStep > 2"
                editable
                step="2"
              >House info</v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                :complete="currentStep > 3"
                editable
                step="3"
              >
                Amenities
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                :complete="currentStep > 3"
                editable
                step="4"
              >
                Done?
              </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-layout row wrap>
                  <v-flex xs12 text-xs-center>
                    <v-radio-group v-model="isForRentOrSell" :column="false" style="justify-content: center;">
                      <v-radio
                        label="Is for rent"
                        :value="true"
                      ></v-radio>
                      <v-radio
                        label="Is for sale"
                        :value="false"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12>
                    <house-types :v-model="home.type" @selected="houseTypeChanged" />
                  </v-flex>
                  <!-- <v-flex xs12 text-xs-center>
                    <v-select
                      :items="house_types"
                      class="home-type-selection"
                      item-text="name"
                      label="Type of the house/building"
                      return-object
                      :value="home.type"
                      @change="houseTypeChanged"
                    ></v-select>
                  </v-flex> -->
                </v-layout>

                <v-btn
                  color="primary"
                  @click="currentStep = 2"
                  :disable="!home.type"
                >
                  Continue
                </v-btn>

                <v-btn flat @click="currentStep = 1" disabled>Back</v-btn>
              </v-stepper-content>
              <v-stepper-content step="2">
                <v-layout row wrap>
                  <v-flex xs12 sm4 v-if="!(home.type && home.type.name === 'Room')">
                    <v-text-field name="Rooms" label="Rooms" type="number" :min="0" :step="1" v-model="home.rooms_count"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field name="Bathrooms" label="Bathrooms" type="number" :min="0" :step="1" v-model="home.bathrooms_count"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="isForRentOrSell">
                    <label style="font-size: 12px; color: rgba(0,0,0,0.54);">
                      Rent Currency
                      <vue-select v-model="home.rent_currency" :options="allCurrencies" label="Name"></vue-select>
                    </label>
                  </v-flex>
                  <v-flex xs12 sm4 v-else>
                    <label style="font-size: 12px; color: rgba(0,0,0,0.54);">
                      Selling Currency
                      <vue-select v-model="home.sale_currency" :options="allCurrencies" label="Name"></vue-select>
                    </label>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="isForRentOrSell">
                    <v-text-field name="RentPrice" label="Rent price" type="number" :min="1" :step="1" v-model="home.rent_price"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-else>
                    <v-text-field name="SellingPrice" label="Selling Price" type="number" :min="1" :step="1" v-model="home.sale_price"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field name="Quantity" label="Available quantity" type="number" :min="1" :step="1" v-model="home.quantity"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <dropfile
                      url="/api/v1/images/upload"
                      :autoUpload="false"
                      :uploadMultiple="true"
                      @uploadSuccess="uploadSuccess"
                      :uploaderID="houseImageUploaderID"
                      @uploadFailed="uploadFailed"></dropfile>
                  </v-flex>
                  <v-flex xs12 v-if="addressOnly">
                    <v-btn flat small @click="addressOnly = false">
                      <v-icon>add_location</v-icon>
                      Show map
                    </v-btn>
                    <!-- <v-text-field name="Address" label="Address" type="text" v-model="home.address"></v-text-field> -->
                    <vue-google-autocomplete
                      v-if="googleIsAvailable"
                      classname="google-autocomplete-input"
                      id="add-home-address"
                      :placeholder="$t('Type address here')"
                      :country="['ke', 'so']"
                      @placechanged="getAddressData"
                    ></vue-google-autocomplete>
                  </v-flex>
                  <v-flex xs12 v-else>
                    <v-btn flat small @click="addressOnly = true">
                      <v-icon>add_location</v-icon>
                      Address
                    </v-btn>
                    <map-item v-if="showMap" mapHeight="300px" :addMarkerByClick="true" :clickCallback="changeAddress" :initialCenter="addressCoords" style="height: 500px"></map-item>
                    <div v-else  class="mb-3">
                      <b>Selected Coordinates:</b>
                      <div>
                        {{(home.address.lat).toFixed(4)}} lat, {{(home.address.long).toFixed(4)}} long
                      </div> 
                      
                      <div v-if="home.address.name">
                        <b>Reversed to:</b>
                        {{home.address.name}}
                      </div>
                      <a href="" @click.prevent="showMap = true">Show map</a>
                    </div>
                  </v-flex>
                </v-layout>

                <div v-if="home.address == null || (home.address && !home.address.country_code)" class="warning--text">
                  {{ $t('Please fill the address or choose a location from the map') }}
                </div>

                <v-btn
                  color="primary"
                  @click="currentStep = 3"
                >
                  Continue
                </v-btn>

                <v-btn flat @click="currentStep = 1">Back</v-btn>
              </v-stepper-content>
              <v-stepper-content step="3">
                <v-layout row wrap>
                  <v-flex xs12 class="checkbox-controls-wrapper">
                    <v-checkbox class="ml-2 ma-0" prepend-icon="restaurant_menu" v-model="home.has_kitchen" label="Has kitchen?"></v-checkbox>
                    <v-checkbox class="ml-2 ma-0" prepend-icon="ac_unit" v-model="home.has_airconditioning" label="Has A/C?" title="Has Airconditioner"></v-checkbox>
                    <v-checkbox class="ml-2 ma-0" prepend-icon="wifi" v-model="home.has_wifi" label="Has WiFi?" title="Has WiFi Internet"></v-checkbox>
                    <v-checkbox class="ml-2 ma-0" prepend-icon="local_parking" v-model="home.has_parking" label="Has Parking?" title="Has Parking"></v-checkbox>
                    <v-checkbox class="ml-2 ma-0" prepend-icon="local_hotel" v-model="home.is_furnished" label="Is Furnished?" title="Is Furnished"></v-checkbox>
                  </v-flex>
                  <v-flex xs12 v-if="home.image_urls && home.image_urls.length > 0">
                    <div class="home-image ml-2">
                      <img :src="home.image_urls[0]" alt="Image">
                    </div>
                  </v-flex>
                </v-layout>

                <v-btn
                  color="primary"
                  @click="currentStep = 4"
                >
                  Finish
                </v-btn>

                <v-btn flat @click="currentStep = 2">Back</v-btn>
              </v-stepper-content>
              <v-stepper-content step="4">
                <v-layout row wrap>
                  <v-flex xs12 class="">
                    <h2>Please proceed if the following information is correct</h2>
                    <table class="table summary-table">
                      <tr>
                        <th>Listing type:</th>
                        <td v-if="home.type">{{home.type.name}}</td>
                      </tr>
                      <tr>
                        <th>For:</th>
                        <td>{{isForRentOrSell ? 'Rent' : 'Selling'}}</td>
                      </tr>
                      <tr>
                        <th>Rooms:</th>
                        <td>{{home.rooms_count}}</td>
                      </tr>
                      <tr>
                        <th>Bathooms:</th>
                        <td>{{home.bathrooms_count}}</td>
                      </tr>
                      <tr>
                        <th>Price:</th>
                        <td v-if="isForRentOrSell">{{Number(home.rent_price).toLocaleString('en-GB')}} {{home.rent_currency && home.rent_currency.Code ? home.rent_currency.Code : ''}}</td>
                        <td v-else>{{Number(home.sale_price).toLocaleString('en-GB')}} {{home.sale_currency && home.sale_currency.Code ? home.sale_currency.Code : ''}}</td>
                      </tr>
                      <tr>
                        <th>Quantity:</th>
                        <td>{{home.quantity}}</td>
                      </tr>
                      <tr>
                        <th>Has Kitchen:</th>
                        <td>{{home.has_kitchen ? 'Yes' : 'No'}}</td>
                      </tr>
                      <tr>
                        <th>Has Airconditioner:</th>
                        <td>{{home.has_airconditioning ? 'Yes' : 'No'}}</td>
                      </tr>
                      <tr>
                        <th>Has WiFi:</th>
                        <td>{{home.has_wifi ? 'Yes' : 'No'}}</td>
                      </tr>
                      <tr>
                        <th>Has Parking:</th>
                        <td>{{home.has_parking ? 'Yes' : 'No'}}</td>
                      </tr>
                      <tr>
                        <th>Is Furnished:</th>
                        <td>{{home.is_furnished ? 'Yes' : 'No'}}</td>
                      </tr>
                    </table>
                  </v-flex>
                  <v-flex xs12 v-if="home.image_urls && home.image_urls.length > 0">
                    <div class="home-image ml-2">
                      <img :src="home.image_urls[0]" alt="Image">
                    </div>
                  </v-flex>
                </v-layout>

                <v-btn
                  color="primary"
                  @click="addListing()"
                >
                  Save
                </v-btn>

                <v-btn flat @click="currentStep = 3">Back</v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>







          <!-- <v-layout row wrap>
            
            <v-flex xs12 sm8>
              
            </v-flex>
            <v-flex xs12 sm4>
              
            </v-flex>
          </v-layout> -->
        </v-card-text>
        <!-- <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn 
            :loading="loading"
            :disabled="loading"
            @click="addListing"
            type="submit"
            color="primary">
            Save
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </form>
  </div>
</template>
<script>
import VueGoogleAutocomplete from '../../../lib/VueGoogleAutocomplete.vue'
import {mapGetters} from 'vuex'
import Map from '../Map.vue'
import DropFile from './DropFile.vue'
import HouseTypes from './HouseTypes.vue'
import { EventBus } from '../../../main'
export default {
  name: 'home-form',
  components: {
    'map-item': Map,
    'dropfile': DropFile,
    'vue-google-autocomplete': VueGoogleAutocomplete,
    'house-types': HouseTypes
  },
  data () {
    return {
      currentStep: 1,
      newAddress: '',
      loading: false,
      home: {
        rooms_count: 1,
        bathrooms_count: 0,
        type: null,
        rent_price: 1,
        sale_price: 0,
        rent_currency: null,
        sale_currency: null,
        address: null,
        quantity: 1,
        has_kitchen: false,
        has_airconditioning: false,
        has_wifi: false,
        has_parking: false,
        is_furnished: false,
        is_for_rent: true,
        is_for_sale: false,
        image_urls: []
      },
      addressOnly: true,
      showMap: true,
      houseImageUploaderID: 'house-images-add',
      listingSaved: false,
      imagesUploaded: false,
      homeResp: {}
    }
  },
  computed: {
    ...mapGetters(['house_types', 'currencies']),
    googleIsAvailable () {
      if (window.google && window.google.maps && window.google.maps.places && typeof window.google.maps.places.Autocomplete === 'function') {
        return true
      }
      return false
    },
    isForRentOrSell: {
      get () {
        return this.home.is_for_rent
      },
      set (val) {
        if (val) {
          this.home.is_for_rent = true
          this.home.is_for_sale = false
        } else {
          this.home.is_for_rent = false
          this.home.is_for_sale = true
        }
      }
    },
    allCurrencies () {
      if (!this.currencies) {
        return []
      }
      let topCurrencies = ['USD', 'SOS', 'KES']
      return this.currencies.slice().sort((a) => {
        return topCurrencies.indexOf(Object(a).Code) >= 0 ? -1 : 1
      })
    },
    addressCoords () {
      if (this.home.address === null) {
        return {}
      }
      return {lat: this.home.address.lat, long: this.home.address.long}
    }
  },
  created () {
    this.getHouseTypes()
    this.getAgent()
  },
  methods: {
    reverseGeocode (location) {
      let self = this
      this.$store.dispatch('REVERSE_GEOCODE', location).then(resp => {
        console.log('reverseGeocode', resp)
        self.home.address.name = resp.address.name
        self.home.address.city = resp.address.city
        self.home.address.country = resp.address.country
        self.home.address.country_code = resp.address.country_code
        self.home.address.lat = resp.address.lat
        self.home.address.long = resp.address.long
        self.home.address.name = resp.address.name
        self.home.address.post_code = resp.address.post_code
        self.home.address.type = resp.address.type
        self.$forceUpdate()
      }).catch(err => {
        console.log('reverseGeocode ERROR', err)
      })
    },
    getAddressData (address, place, id) {
      console.log('getAddressData', {address, place, id})
      // this.home.address. =  address
      if (address) {
        this.home.address = this.clone(address)
        this.home.address.country_code = this.getCountryCode(address.country, place.address_components)
        this.home.address.lat = address.latitude
        this.home.address.long = address.longitude
        this.home.address.name = address.route
        this.home.address.city = address.locality
      }
    },
    getCountryCode (countryName, addressComponents) {
      console.log('getCountryCode', {countryName, addressComponents})
      if (addressComponents && addressComponents.length > 0) {
        let lastItem = addressComponents[addressComponents.length - 1]
        if (lastItem && lastItem.long_name === countryName && lastItem.short_name) {
          return lastItem.short_name
        }
      }
      return ''
    },
    changeAddress (location, noHide) {
      console.log('changeAddress', location)
      this.home.address = {long: location.long, lat: location.lat}
      this.reverseGeocode(location)
      if (!noHide) {
        this.showMap = false
      }
    },
    getAgent () {
      this.$store.dispatch('GET_PROFILE')
    },
    houseTypeChanged (item) {
      console.log('houseTypeChanged', item)
      this.home.type = item
      if (item && item.max_rooms > 0 && item.min_rooms > 0) {
        this.home.rooms_count = Math.floor(item.max_rooms / 2.5)
      }
      if (item && item.name === 'Room' && this.home.rooms_count < 1) {
        this.home.rooms_count = 1
      }
    },
    getHouseTypes () {
      let self = this
      this.$store.dispatch('GET_HOUSE_TYPES').then(() => {
        if (self.house_types && self.home.type === null) {
          self.home.type = self.house_types[0]
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    validateListing () {
      if (!this.home.address) {
        EventBus.$emit('alert_message', {type: 'error', text: 'Address is required'})
        return false
      }
      return true
    },
    addListing () {
      if (this.listingSaved && !this.imagesUploaded) {
        this.startUploadingImages()
        return
      }
      let data = {}
      let self = this
      data.agen_user_id = this.$store.getters.agent.id
      data.rooms_count = parseInt(this.rooms_count)
      data.bathrooms_count = parseInt(this.home.bathrooms_count)
      data.type = this.clone(this.home.type)
      data.address = this.home.address
      data.quantity = parseInt(this.home.quantity)
      data.has_kitchen = this.home.has_kitchen
      data.has_airconditioning = this.home.has_airconditioning
      data.has_wifi = this.home.has_wifi
      data.has_parking = this.home.has_parking
      data.image_urls = this.home.image_urls
      if (this.isForRentOrSell) {
        data.sale_price = 0
        data.rent_price = parseFloat(this.home.rent_price)
        data.rent_currency = this.home.rent_currency
        data.is_furnished = this.home.is_furnished
        data.is_for_rent = this.home.is_for_rent
        data.is_for_sale = false
      } else {
        data.rent_price = 0
        data.sale_price = parseFloat(this.home.sale_price)
        data.sale_currency = this.sale_currency
        data.is_furnished = false
        data.is_for_sale = this.is_for_sale
        data.is_for_rent = false
      }
      if (!this.validateListing()) {
        return
      }
      this.$store.commit('APP_LOADING', true)
      this.$store.dispatch('ADD_NEW_LISTING', data).then((resp) => {
        self.$store.commit('APP_LOADING', false)
        self.listingSaved = true
        self.homeResp = resp.house
        self.startUploadingImages(resp.house)
      }).catch((err) => {
        console.error('ADD_NEW_LISTING error', err)
        self.listingSaved = false
        self.$store.commit('APP_LOADING', false)
      })
    },
    startUploadingImages (resp) {
      console.log('startUploadingImages', this.homeResp)
      if (!this.homeResp) {
        this.homeResp = resp.house
      }
      EventBus.$emit('start-upload-' + this.houseImageUploaderID, this.homeResp)
    },
    closePopup () {
      this.$emit('closePopup')
    },
    clone (obj) {
      if (typeof obj !== 'object') {
        return obj
      }
      return JSON.parse(JSON.stringify(obj))
    },
    uploadFailed (selectedFiles, uploadedFiles) {
      console.log('imageUploadFailed', {selectedFiles, uploadedFiles})
      this.imagesUploaded = false
      EventBus.$emit('alert_message', {type: 'error', text: 'Failed to upload files'})
    },
    uploadSuccess (uploadedFiles) {
      console.log('uploadSuccess', {uploadedFiles})
      this.updateListing(this.homeResp)
      if (uploadedFiles === null) {
        this.closePopup()
        return
      }
      this.homeResp.image_urls = uploadedFiles.map(item => item.URL)
      this.home.image_urls = this.homeResp.image_urls
    },
    successFile (file, response) {
      console.log('successFile', {file, response})
      this.$emit('closePopup')
      this.$store.dispatch('GET_MY_LISTING')
      this.imagesUploaded = true
    },
    failedMultipleFiles (files, message, xhr) {
      console.log('failedMultipleFiles', {files, message, xhr})
      this.imagesUploaded = false
      EventBus.$emit('alert_message', {type: 'error', text: 'Failed to upload files'})
    },
    updateListing (data) {
      let self = this
      this.$store.dispatch('UPDATE_LISTING', data).then(() => {
        self.imagesUploaded = true
        self.$store.commit('APP_LOADING', false)
        self.$store.dispatch('GET_MY_LISTING')
        self.closePopup()
      }).catch(() => {
        self.$store.commit('APP_LOADING', false)
        self.closePopup()
      })
    }
  }
}
</script>
<style>
.checkbox-controls-wrapper .v-input--checkbox {
  height: 2em;
}
.checkbox-controls-wrapper .v-input--checkbox .v-messages {
  display: none;
}
.checkbox-controls-wrapper .v-input--checkbox .v-input__slot {
  margin-bottom: 0;
}
/* .checkbox-controls-wrapper .v-input--checkbox .v-input__append-outer {
} */
.checkbox-controls-wrapper .v-input--checkbox .v-input__append-outer .v-icon {
  color: rgba(0, 0, 0, 0.2)
}
.checkbox-controls-wrapper .v-input--checkbox.v-input--is-label-active .v-icon {
  color: #1976d2;
}
.home-image img {
  max-width: 80%;
  margin: auto;
  box-shadow: 0 0 0.5em -0.1em;
  border: 3px solid #fff;
}
.home-type-selection {
  max-width: 12em;
  margin: auto;
}
table.summary-table {
  width: 100%;
}
table.summary-table th {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}
table.summary-table td {
  width: 50%;
  text-align: left;
  padding-left: 1em;
}
@media screen and (max-width: 600px) {
  .home-image img {
    max-height: auto;
    max-width: 100%;
    box-shadow: 0 0 0.5em -0.1em;
    border: 5px solid #fff;
  }
}
</style>
