<template>
  <div class="house-types">
    <v-card
      class="mx-auto"
      :loading="loading"
      raised
      @click="showAll = true"
    >
      <v-img
        class="white--text"
        height="200px"
        dark
        :max-height="120"
        :src="selectedType ? selectedType.image : 'https://cdn.vuetifyjs.com/images/cards/docks.jpg'"
      >
        <v-card-title class="align-end fill-height">
          <h2 class="shadowed--text">{{$t(selectedType ? selectedType.name : 'Select a type')}}</h2>
        </v-card-title>
      </v-img>

      <v-card-text class="pa-1">{{$t(selectedType ? selectedType.description : 'Click to select a type')}}</v-card-text>
    </v-card>

    <v-dialog scrollable max-width="300px" v-model="showAll">
      <v-card class="elevation-1">

        <v-card-title>Select Type</v-card-title>
        <v-divider></v-divider>

        <v-card-text>

          <v-layout
            row
            wrap
          >
            <v-flex class="pa-2" xs12 v-for="type in house_types" :key="type.name">
              <v-card
                class="mx-auto"
                raised
                @click="select(type, true)"
              >
                <v-img
                  class="white--text"
                  height="120px"
                  :src="type.image"
                >
                  <v-card-title class="align-end fill-height">
                    <h2 class="shadowed--text">{{type.name}}</h2>
                  </v-card-title>
                </v-img>

                <v-card-text>{{type.description}}</v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          
              


        </v-card-text>

      </v-card>

    </v-dialog>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  name: 'house-types',
  prop: ['hidden'],
  model: {
    prop: 'hidden',
    event: 'selected'
  },
  data: () => ({
    loading: false,
    selectedType: null,
    showAll: false
  }),
  computed: {
    ...mapGetters(['house_types'])
  },
  methods: {
    getHouseTypes () {
      this.$store.dispatch('GET_HOUSE_TYPES').then(() => {
        if (this.house_types && this.house_types.length > 0 && this.model !== null) {
          this.select(this.house_types[0], false)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    select (item, hide) {
      console.log('select', {item, hide})
      if (item && item.name) {
        this.selectedType = item
        this.$emit('selected', item)
        this.showAll = !hide
      }
    }
  },
  beforeMount () {
    this.getHouseTypes()
  }
}
</script>
<style>
.house-types .v-card {
  cursor: pointer;
}
</style>