<template>
  <v-layout
    text-xs-center
    row
    wrap
    fill-height
    class="dashboard-wrapper"
  >
    <v-flex xs12>
      <h1>
        Dashboard
      </h1>

      <div class="pa-2">
        <v-chip class="mt-2 mr-2" v-if="mySubscription && mySubscription.type && mySubscription.type.name" small :color="!mySubscription.type.name ? 'primary' : 'success'" text-color="white">{{mySubscription.type.name}}</v-chip> 

        <v-alert
          outlined
          border="top"
          :type="(quotaStyle && quotaStyle.alertType)"
          :value="true"
        >
          <div v-if="quota && quota.total && quota.available && quota.total === quota.available">
            {{ $t('You didn\'t use any of your quota for this month', {...quota}) }}
          </div>
          <div v-else>
            {{ $t('Remaining {available} listings ({used} used)', {...quota}) }}
          </div>
          <div v-if="quota && quota.available < 1">
            {{ $t('Consider upgrading your subscription plan') }}
          </div>
        </v-alert>
        
      </div>

      <v-layout row wrap fill-height>
        <v-flex xs12 sm6 pb-2>
          <dashboard-listing :loading="loadingListing" :title="'My Listing'" @editItem="editItem" @deleteItem="deleteItem" @toggleNewListingForm="toggleNewListingForm" :Lisitng="Lisitng"></dashboard-listing>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <dashboard-listing :loading="loadingMostViewed" :title="'Top Viewed'" @editItem="editItem" @deleteItem="deleteItem" @toggleNewListingForm="toggleNewListingForm" :Lisitng="most_viewd_listing"></dashboard-listing>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <div class="bordered-1 ma-1 fill-height">
            <h2>Latest activities</h2>
          </div>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <div class="bordered-1 ma-1 fill-height">
            <h2>Performance</h2>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-dialog persistent fullscreen v-model="newListing" width="600px" min-height="500px">
      <home-form v-if="newListing" @closePopup="newListing = false" @updateListing="updateListing"></home-form>
    </v-dialog>
    <v-dialog persistent fullscreen v-model="editListing" width="600px">
      <edit-form v-if="editListing" @closePopup="editListing = false" :item="selectedListing"></edit-form>
    </v-dialog>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex'
  import HomeForm from './partials/forms/Home.vue'
  import Edit from './partials/forms/Edit.vue'
  import DashboardListing from './partials/DashboardListing.vue'
  import EventBus from '../main'

  export default {
    name: 'dashboard',
    components: {
      'home-form': HomeForm,
      'edit-form': Edit,
      'dashboard-listing': DashboardListing
    },
    data () {
      return {
        newListing: false,
        editListing: false,
        selectedListing: {},
        loadingListing: false,
        loadingMostViewed: false
      }
    },
    computed: {
      ...mapGetters(['listing', 'most_viewd_listing', 'agent', 'mySubscription', 'maxFreeListing', 'isPaidSubscription', 'quota']),
      Lisitng () {
        return this.listing && this.listing.length > 0 ? this.listing.reverse() : []
      },
      listingUsed () {
        return (this.listing && this.listing.length) || 0
      },
      quotaStyle () {
        if (!this.quota) {
          return {alertType: 'error', percentage: -1, error: 'quota is not available'}
        }
        if (this.quota.available < 1) {
          return {alertType: 'error', percentage: -1, error: 'quota\'s available is less than one'}
        }
        if (this.quota.total < 1) {
          return {alertType: 'error', percentage: -1, error: 'quota\'s total is less than one'}
        }

        let percentage = (parseInt(this.quota.available) / parseInt(this.quota.total) * 100) || 0
        if (percentage < 25) {
          return {alertType: 'warning', percentage}
        }
        if (percentage < 50) {
          return {alertType: 'info', percentage}
        }
        if (percentage >= 50) {
          return {alertType: 'success', percentage}
        }
        return {alertType: 'error', percentage}
      }
    },
    created () {
      if (this.agent && this.agent.id && this.agent.id.length !== 24) {
        EventBus.$emit('alert_message', {type: 'error', text: 'Access denied'})
        this.$router.push({path: '/'})
        return
      }
      this.updateListing()
    },
    methods: {
      updateListing () {
        console.log('updateListing')
        this.getMyListing()
        this.getMyMostViewedListing()
        this.$store.dispatch('GET_LISTING_QUOTA')
      },
      deleteItem (id) {
        this.$store.commit('APP_LOADING', true)
        this.$store.dispatch('DELETE_LISTING', {id: id}).then(() => {
          this.updateListing()
          this.$store.commit('APP_LOADING', false)
        })
      },
      editItem (item) {
        console.log('editItem', item)
        this.selectedListing = this.clone(item)
        this.editListing = true
      },
      clone (obj) {
        if (typeof obj !== 'object') {
          return obj
        }
        return JSON.parse(JSON.stringify(obj))
      },
      getMyListing () {
        console.log('getMyListing')
        this.loadingListing = true
        this.$store.dispatch('GET_MY_LISTING').then(() => {
          this.loadingListing = false
        })
      },
      getMyMostViewedListing () {
        console.log('getMyMostViewedListing')
        this.loadingMostViewed = true
        this.$store.dispatch('GET_MY_LISTING', true).then(() => {
          this.loadingMostViewed = false
        })
      },
      toggleNewListingForm () {
        this.newListing = !this.newListing
      }
    }
  }
</script>

<style>
.dashboard-wrapper .floating-search-form {
  position: absolute;
  top: 2em;
  left: 1em;
  right: 1em;
  z-index: 2;
}
.dashboard-wrapper .floating-search-form .v-btn {
  position: absolute;
  right: 0em;
  z-index: 3;
  top: 0em;
}
.dashboard-wrapper #map-search, .dashboard-wrapper #add-home-address, .dashboard-wrapper #edit-home-address {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 12px;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
  background-color: #ffffff;
  border-style: none;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  background: #fff;
  margin-bottom: 2em;
  font: inherit;
}
</style>
