<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <form @submit.prevent="login">
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>{{$t('Login')}}</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="user.email"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="user.password"></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn 
                    :loading="loading"
                    :disabled="loading"
                    @click="login"
                    type="submit"
                    color="primary">
                    {{$t('Submit')}}
                  </v-btn>
                </v-card-actions>
                <v-card-text class="pb-1 pt-0 text-xs-center">
                  <p>
                    {{$t('No account yet?')}} <router-link to="/signup" style="text-decoration: none;">{{$t('Click here')}}</router-link> {{$t('to signup')}} {{$t('or')}}
                    <router-link to="/">{{$t('Go Back')}}</router-link>
                  </p>
                </v-card-text>
              </v-card>
            </form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import {EventBus} from '../main'
  export default {
    name: 'login',
    data: () => ({
      loading: false,
      user: {
        email: '',
        password: ''
      },
      redirect: '/'
    }),

    mounted () {
      if (this.$route.query && this.$route.query.redirect) {
        this.redirect = this.$route.query.redirect
      } else {
        this.redirect = '/'
      }
      if (this.$store.getters.is_logged_in) {
        this.$router.push(this.redirect)
      }
    },

    methods: {
      login () {
        console.log('login', this.user)
        this.loading = true
        this.$store.dispatch('LOGIN', this.user).then(resp => {
          /* eslint-disable-next-line no-console */
          this.loading = false
          if (resp && resp.token) {
            this.$store.dispatch('GET_PROFILE')
            // this.$http.get('/api/v1/profile').then(resp => {
            //   if (resp && resp.data) {
            //     this.$store.commit('SET_PROFILE', resp.data.profile)
            //   }
            // })
            EventBus.$emit('alert_message', {type: 'success', text: 'Login successful'})
            this.$router.push(this.redirect)
          }
        }).catch(err => {
          /* eslint-disable-next-line no-console */
          if (err && err.response && err.response.data && err.response.data.msg) {
            console.log('login error', err.response)
            EventBus.$emit('alert_message', {type: 'error', text: err.response.data.msg})
          } else {
            console.log('login error', err.toString())
            EventBus.$emit('alert_message', {type: 'error', text: err.toString()})
          }
          this.loading = false
        })
      }
    }
  }
</script>