<template>
  <div class="ma-2">

    <div v-if="is_logged_in && hasProfile">
      <h2 class="pl-4">{{$t('Profile')}}</h2>
      <user-profile :user="$store.getters.profile" card-type="medium-card"></user-profile>
    </div>

    <div v-if="is_logged_in && isAgent">
      <h2 class="pl-4">{{$t('Agent')}}</h2>
      <user-profile :user="agent" :isAgent="true" card-type="medium-card"></user-profile>
    </div>
    
    <div class="ml-auto mr-auto mt-3" >

      <v-card
        max-width="400"
        class="mx-auto"
      >
        <v-card-title>
          <v-switch
            v-model="demoMode"
            :label="`${$t('DEMO MODE')}`"
          ></v-switch>
          <v-chip
            small
            class="ma-2"
            :color="demoMode ? 'red' : 'green'"
            text-color="white"
          >
            {{demoMode ? '' : ''}}
          </v-chip>
        </v-card-title>
        <v-card-text>
          <div>{{$t('Demo mode is for testing purposes only, your listing will not be shown to users')}}</div>
        </v-card-text>
        <!-- <v-card-actions>
          <v-btn text>Click</v-btn>
        </v-card-actions> -->
      </v-card>

      
    </div>
    
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import UserProfile from './partials/UserProfile.vue'

export default {
  name: 'profile',
  components: {
    'user-profile': UserProfile
  },
  computed: {
    ...mapGetters(['is_logged_in', 'profile', 'agent', 'is_demo_mode']),
    demoMode: {
      get () {
        return this.is_demo_mode
      },
      set (val) {
        this.$store.commit('SET_DEMO_MODE', val === true)
      }
    },
    hasProfile () {
      return this.profile && this.profile.id && this.profile.id.length === 24
    },
    isAgent () {
      return this.agent && this.agent.id && this.agent.id.length === 24
    }
  },
  created () {
  }
}
</script>
