<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <form v-if="user.type === 'normal'" @submit="signup">
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>{{$t('Signup as user')}}</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text v-if="step === 0">
                  <v-radio-group row class="ma-auto user-type-radio-btn" v-model="user.type">
                    <v-radio
                      :label="$t('Normal')"
                      value="normal"
                      :checked="user.type === 'normal'"
                      @click="user.type = 'normal'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Agent')"
                      value="agent"
                      :checked="user.type === 'agent'"
                      @click="user.type = 'agent'"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
                <v-card-text v-if="step === 1">
                  <v-text-field prepend-icon="person_outline" name="first_name" :label="$t('First name')" type="text" v-model="user.first_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="middle_name" :label="$t('Middle name')" type="text" v-model="user.middle_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="last_name" :label="$t('Last name')" type="text" v-model="user.last_name"></v-text-field>
                  <v-radio-group row class="ma-auto" v-model="user.gender">
                    <v-radio
                      :label="$t('Male')"
                      value="male"
                      @click="user.gender = 'male'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Female')"
                      value="female"
                      @click="user.gender = 'female'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Other')"
                      value="other"
                      @click="user.gender = 'other'"
                    ></v-radio>
                  </v-radio-group>
                  <div>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="showBirthday"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="birthdayStr"
                        :label="$t('Birth date')"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="birthdayStr" @input="birthdayChanged"></v-date-picker>
                    </v-menu>
                  </div>
                  <v-text-field :prepend-icon="phoneOrEmailIcon.icon" name="signup" :label="$t(phoneOrEmailIcon.label)" type="text" v-model="phoneOrEmail"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" :label="$t('Password')" type="password" v-model="user.password"></v-text-field>
                </v-card-text>
                
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn 
                    :loading="loading"
                    v-if="step >= 1"
                    :disabled="loading"
                    @click="previousStep"
                    type="button"
                    >
                    {{$t('Back')}}
                  </v-btn>
                  <v-btn 
                    :loading="loading"
                    v-if="step === 0"
                    :disabled="step != 0 && (loading || !(fullName !== '' && isValidEmail(user.email) && isValidPass(user.password)))"
                    @click="nextStep"
                    type="button"
                    class="mr-2"
                    color="primary">
                    {{$t('Next')}}
                  </v-btn>
                  <v-btn 
                    :loading="loading"
                    v-else-if="step === 1"
                    :disabled="loading || !(fullName !== '' && isValidEmail(user.email) && isValidPass(user.password))"
                    type="button"
                    @click="signup"
                    class="mr-2"
                    color="primary">
                    {{$t('Sinup')}}
                  </v-btn>
                </v-card-actions>
                <v-card-text class="pb-1 pt-0 text-xs-center">
                  <p>{{$t('Already  have account?')}} <router-link to="/login" style="text-decoration: none;">{{$t('Click here')}}</router-link> to login.</p>
                </v-card-text>
              </v-card>
            </form>

            <form v-else>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>{{$t('Signup as agent')}}</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text v-if="step === 0">
                  <v-radio-group row class="ma-auto user-type-radio-btn" v-model="user.type">
                    <v-radio
                      :label="$t('Normal')"
                      value="normal"
                      :checked="user.type === 'normal'"
                      @click="user.type = 'normal'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Agent')"
                      value="agent"
                      :checked="user.type === 'agent'"
                      @click="user.type = 'agent'"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
                <v-card-text v-if="step === 1">
                  <v-text-field prepend-icon="person_outline" name="first_name" :label="$t('First name')" type="text" v-model="user.first_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="middle_name" :label="$t('Middle name')" type="text" v-model="user.middle_name"></v-text-field>
                  <v-text-field prepend-icon="person_outline" name="last_name" :label="$t('Last name')" type="text" v-model="user.last_name"></v-text-field>
                  <v-radio-group row class="ma-auto" v-model="user.gender">
                    <v-radio
                      :label="$t('Male')"
                      value="male"
                      @click="user.gender = 'male'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Female')"
                      value="female"
                      @click="user.gender = 'female'"
                    ></v-radio>
                    <v-radio
                      :label="$t('Other')"
                      value="other"
                      @click="user.gender = 'other'"
                    ></v-radio>
                  </v-radio-group>
                  <div>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="showBirthday"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="birthdayStr"
                        :label="$t('Birth date')"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="birthdayStr" @input="birthdayChanged"></v-date-picker>
                    </v-menu>
                  </div>
                  <v-text-field :prepend-icon="phoneOrEmailIcon.icon" name="signup" :label="$t(phoneOrEmailIcon.label)" type="text" v-model="phoneOrEmail"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" :label="$t('Password')" type="password" v-model="user.password"></v-text-field>
                </v-card-text>
                <v-card-text v-if="step === 2">
                  <v-text-field prepend-icon="business" name="agency_name" :label="$t('Agency name')" type="text" v-model="agent.name"></v-text-field>
                  <v-text-field prepend-icon="location_on" name="agency_address" :label="$t('Agency address')" type="text" v-model="agent.address"></v-text-field>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <div>
                        <v-chip close color="teal" text-color="white" v-for="(contact, index) in agent.contacts" :key="index" @input="removeContact(agent)">
                          <v-avatar>
                            <v-icon>{{contact.icon}}</v-icon>
                          </v-avatar>
                          {{contact.value}}
                        </v-chip>
                      </div>
                    </v-flex>
                    <v-flex xs3>
                      <v-select
                        :items="contactTypes"
                        :label="$t('Type')"
                        :value="newContactType"
                        @change="newContactTypeChanged"
                      ></v-select>
                    </v-flex>
                    <v-flex xs8>
                      <v-text-field name="agency_new_contact" :label="$t('Add contact')" type="text" v-model="newContact.value" @keydown.enter.prevent="addContact"></v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-btn small icon color="primary" class="mt-3" @click="addContact">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-text-field prepend-icon="link" name="agency_slug" :label="$t('Agency slug')" type="text" v-model="agent.slug"></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn 
                    :loading="loading"
                    v-if="step >= 1"
                    :disabled="loading"
                    @click="previousStep"
                    type="button"
                    >
                    {{$t('Back')}}
                  </v-btn>
                  <v-btn 
                    :loading="loading"
                    v-if="(step == 0) || (step < 2)"
                    :disabled="step != 0 && (loading || !(fullName !== '' && isValidEmail(user.email) && isValidPass(user.password)))"
                    @click="nextStep"
                    type="button"
                    class="mr-2"
                    color="primary">
                    {{$t('Next')}}
                  </v-btn>
                  <v-btn 
                    :loading="loading"
                    v-else-if="(step === 2)"
                    :disabled="loading || !(fullName !== '' && isValidEmail(user.email) && isValidPass(user.password))"
                    type="button"
                    @click="signup"
                    class="mr-2"
                    color="primary">
                    {{$t('Sinup')}}
                  </v-btn>
                </v-card-actions>
                <v-card-text class="pb-1 pt-0 text-xs-center">
                  <p>{{$t('Already  have account?')}} <router-link to="/login" style="text-decoration: none;">{{$t('Click here')}}</router-link> to login.</p>
                </v-card-text>
              </v-card>
            </form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import {EventBus} from '../main'
  export default {
    name: 'signup',
    data () {
      let d = new Date()
      let before18years = new Date(d.getFullYear() - 18, d.getMonth(), d.getDate()).toISOString().split('T')[0]
      return {
        loading: false,
        step: 0,
        user: {
          first_name: '',
          middle_name: '',
          last_name: '',
          gender: 'other',
          birthday: (new Date(before18years)).toISOString(),
          email: '',
          phone: '',
          password: '',
          type: 'normal'
        },
        agent: {
          name: '',
          address: '',
          contacts: [
            {
              label: 'Phone',
              value: '0618270616',
              icon: 'phone'
            },
            {
              label: 'Email',
              value: 'boolow5@gmail.com',
              icon: 'email'
            }
          ],
          slug: ''
        },
        newContact: {
          label: 'Phone',
          value: '',
          icon: 'phone'
        },
        contactTypes: [
          {text: 'Phone', value: 'phone'},
          {text: 'Email', value: 'email'},
          {text: 'WhatsApp', value: 'whatsapp'}
        ],
        newContactType: 'phone',
        phoneOrEmail: '',
        isPhone: false,
        isEmail: false,
        phoneOrEmailIcon: {icon: 'help', label: 'Phone or Email'},
        birthdayStr: before18years,
        showBirthday: false,
        redirect: '/login'
      }
    },

    computed: {
      fullName () {
        let fName = this.user.first_name
        if (this.user.middle_name) {
          fName += ' ' + this.user.middle_name
        }
        if (this.user.last_name) {
          fName += ' ' + this.user.last_name
        }
        return fName
      },
      nameValid () {
        return this.fullName !== ''
      }
    },

    watch: {
      phoneOrEmail: function (newValue) {
        console.log('watch phoneOrEmail', newValue)
        this.phoneOrEmailChanged()
        // if (this.isPhone) {

        // }
        // if (this.isEmail) {

        // }
      }
    },

    mounted () {
      if (this.$route.query && this.$route.query.redirect) {
        this.redirect = this.$route.query.redirect
      } else {
        this.redirect = '/'
      }
      if (this.$store.getters.is_logged_in) {
        this.$router.push(this.redirect)
      }
    },

    methods: {
      nextStep () {
        let user = window.clone(this.user)
        let agent = window.clone(this.agent)
        this.user = {}
        this.agent = {}
        setTimeout(() => {
          this.user = user
          this.agent = agent
        }, 200)
        if (this.step < 1) {
          this.step += 1
          return
        }
        if (this.user.type !== 'normal') {
          this.step += 1
        }
      },
      previousStep () {
        this.step === 1 ? this.step = 0 : this.step = 1
        const type = (this.user.type)
        this.user.type = ''
        setTimeout(() => {
          this.user.type = type
        }, 50)
      },
      enterContact (e) {
        e.preventDefault()
        if (e.keyCode === 13) {
          console.log('enterContact', e)
          this.addContact()
        }
        return false
      },
      addContact () {
        console.log('addContact')
        let newContact = JSON.parse(JSON.stringify(this.newContact))
        this.agent.contacts.push(newContact)
        this.newContact = {
          label: this.newContactType.charAt(0).toUpperCase() + this.newContactType.substr(1).toLowerCase(),
          value: '',
          icon: this.newContactType
        }
      },
      removeContact (item) {
        console.log('removeContact', item)
        this.agent.contacts.splice(this.agent.contacts.indexOf(item), 1)
      },
      newContactTypeChanged (e) {
        console.log('newContactTypeChanged', e)
        this.newContactType = e
        switch (e) {
          // case 'phone':
          //   break;
          default:
            this.newContact.icon = e
            this.newContact.label = e.charAt(0).toUpperCase() + e.substr(1).toLowerCase()
        }
      },
      phoneOrEmailChanged () {
        if (this.isValidEmail(this.phoneOrEmail)) {
          this.isEmail = true
          this.isPhone = false
          this.user.email = this.phoneOrEmail
          this.user.phone = ''
          this.phoneOrEmailIcon = {icon: 'alternate_email', label: 'Email'}
        } else if (this.isValidPhone(this.phoneOrEmail)) {
          this.isEmail = false
          this.isPhone = true
          this.user.email = ''
          this.user.phone = this.phoneOrEmail
          this.phoneOrEmailIcon = {icon: 'phone', label: 'Phone'}
        } else {
          this.isEmail = false
          this.isPhone = false
          this.user.phone = ''
          this.user.email = ''
          this.phoneOrEmailIcon = {icon: 'help', label: 'Phone or Email'}
        }
      },
      isValidPhone (phone) {
        return /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$/im.test(phone)
      },
      isValidEmail (email) {
        if (typeof email !== 'string') {
          return false
        }
        return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)
      },
      isValidPass (pass) {
        if (typeof pass !== 'string') {
          return false
        }
        if (pass.length < 8) {
          return false
        }
        return true
      },
      birthdayChanged (e) {
        console.log('birthdayChanged', e)
        if (e) {
          this.user.birthday = (new Date(e)).toISOString()
          this.birthdayStr = e
        }
        this.showBirthday = false
      },
      signup () {
        console.log('signup', this.user)
        this.loading = true
        this.$store.dispatch('SIGNUP', this.user).then(resp => {
          if (this.user.type !== 'agent') {
            this.$store.dispatch('GET_PROFILE')
            this.$router.push(this.redirect)
            return
          }
          /* eslint-disable-next-line no-console */
          if (resp && resp.token) {
            this.agent.address = {route: this.agent.address}
            this.$store.dispatch('REGISTER_AGENCY', this.agent).then(() => {
              this.loading = false
              this.$store.dispatch('GET_PROFILE')
              // this.$http.get('/api/v1/profile').then(resp => {
              //   if (resp && resp.data) {
              //     this.$store.commit('SET_PROFILE', resp.data.profile)
              //   }
              // })
              EventBus.$emit('alert_message', {type: 'success', text: 'Signup successful'})
              this.$router.push(this.redirect)
            }).catch(err => {
              this.loading = false
              if (err && err.response && err.response.data && err.response.data.msg) {
                EventBus.$emit('alert_message', {type: 'error', text: err.response.data.msg})
              } else {
                EventBus.$emit('alert_message', {type: 'error', text: err.toString()})
              }
            })
          }
        }).catch(err => {
          /* eslint-disable-next-line no-console */
          console.log('signup error', JSON.stringify(err.response.data))
          if (err && err.response && err.response.data && err.response.data.msg) {
            EventBus.$emit('alert_message', {type: 'error', text: err.response.data.msg})
          } else {
            EventBus.$emit('alert_message', {type: 'error', text: err.toString()})
          }
          this.loading = false
        })
      }
    }
  }
</script>
<style>
.user-type-radio-btn .v-input__control {
  display: inline-block;
  margin: auto;
}
</style>