<template>
  <div class="subscription-wrapper">

    <div v-if="!isAgent">
      <v-alert type="error">
        {{$t('Access Denied!')}}
      </v-alert>
    </div>

    <div v-else></div>


    <v-stepper non-linear v-model="currentStep">
      <v-stepper-header>
        <v-stepper-step editable :complete="currentStep > 1" step="1">{{$t('Select plan')}}</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :editable="differentPlanSelected" :complete="currentStep > 2" step="2">{{$t('Select payment method')}}</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :editable="differentPlanSelected && selectedPaymentMethod && Boolean(selectedPaymentMethod.id)" step="3">{{$t('Submit')}}</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1" class="pl-1 pr-1">
          <v-card
            class="mb-12"
            color="grey lighten-3"
            height="440px"
            style="overflow: scroll"
          >
            <v-card-text class="pl-0 pr-0">
              <h1>{{$t('My Subscription')}}</h1>
              <v-layout row wrap ma-2>
                <v-flex xs12 sm6 pa-1>
                  <h5>{{$t('Current plan')}}</h5>
                  <v-card class="ma-2 clickable"  v-if="mySubscription && mySubscription.type && mySubscription.type.name" @click="selectedPlan = null">
                    <v-card-title primary-title class="pa-1 pl-2">
                      <v-icon class="mr-2" color="success" v-if="!selectedPlan">check_circle</v-icon>
                      <div class="subscription-price-tag">
                        <h1>{{mySubscription.type.price}}<small>{{selectedCurrency}}</small></h1>
                      </div>
                      <div>
                        <div class="headline">{{mySubscription.type.name}}</div>
                        <span v-if="mySubscription.listing_credits > 0">{{mySubscription.listing_credits}} {{$t('listing per month')}}</span>
                        <span v-else>{{$t('Unlimited listing per month')}}</span>
                      </div>
                    </v-card-title>
                  </v-card>
                  <h5>{{$t('Upgrade')}}</h5>
                  <v-card class="ma-2 clickable" v-for="(item, index) in filteredSubscriptionTypes" :key="index" @click="selectUpgradePlan(item)">
                    <v-card-title primary-title class="pa-1 pl-2">
                      <v-icon class="mr-2" color="success" v-if="selectedPlan && selectedPlan.name === item.name">check_circle</v-icon>
                      <div v-if="item.price" class="subscription-price-tag">
                        <h1>
                          {{item.price}}<small>{{selectedCurrency}}</small>
                        </h1>
                      </div>
                      <div>
                        <div class="headline">{{item.name}}</div>
                        <span v-if="item && item.listing_limit > 0">{{item.listing_limit}} {{$t('listing per month')}}</span>
                        <span v-else>{{$t('Unlimited listing per month')}}</span>
                      </div>
                    </v-card-title>
                  </v-card>
                  <!-- <v-layout>
                    <v-spacer></v-spacer>
                    <v-btn color="" @click="selectedPlan = null" :disabled="!selectedPlan">Reset</v-btn>
                    <v-btn color="primary" :disabled="!selectedPlan && !(selectedPlan && mySubscription.type && selectedPlan.name === mySubscription.type.name)" @click="upgradePlan">{{upgradeBtnText}}</v-btn>
                  </v-layout> -->
                </v-flex>
                <v-flex xs12 sm6 pa-2 v-if="mySubscription && mySubscription.type">
                  <h5 class="mb-2">{{$t('Status')}}</h5>
                  <v-card>
                    <v-card-text class="">
                      <h1>{{$t('Account Limits')}}</h1>
                      <p>
                        {{$t('You used {used} out of {total}', {...quota})}}
                      </p>
                      <p>{{$t('To increase your quota, please upgrade to a higher subscription plan')}}</p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>

              <v-layout row wrap ma-2>
                <v-flex xs12>
                  <v-btn
                    color="primary"
                    :disabled="!differentPlanSelected"
                    @click="currentStep = 2"
                  >
                    {{$t('Continue')}}
                  </v-btn>

                  <v-btn text @click="currentStep--" :disabled="true">{{$t('Back')}}</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-stepper-content>

        <v-stepper-content step="2" class="pl-1 pr-1">
          <v-card
            class="mb-12"
            color="grey lighten-3"
            height="440px"
            style="overflow: scroll"
          >
            <v-card-text class="pl-0 pr-0">
              <h1>{{upgradeBtnText}} {{$t('to {currency}{price} {plan} plan', {plan: (selectedPlan && selectedPlan.name), price: (selectedPlan && selectedPlan.price), currency: selectedCurrency})}}</h1>
              <v-layout row wrap ma-2>
                <v-flex xs12>
                  <h5>{{$t('Choose payment method')}}</h5>
                </v-flex>
                <v-flex xs6 sm3 pa-1 v-for="(item, index) in filteredPaymentMethods" :key="index">
                  <v-card class="ma-2 clickable" @click="selectPaymentMethod(item)">
                    <v-img :src="item && item.logo ? '/dist' + item.logo : ''" aspect-ratio="1.54"></v-img>
                    <v-card-title primary-title class="pa-1 pl-2">
                      <v-icon class="mr-2" color="success" v-if="selectedPaymentMethod && selectedPaymentMethod.id === item.id">check_circle</v-icon>
                      <div>
                        <!-- <div class="headline">{{item.name}}</div> -->
                        <span>{{item.provider}}</span>
                        <v-tooltip bottom color="white error--text" v-if="item.is_limited_to">
                          <v-icon small color="error" class="ml-1" style="margin-top: -0.3em;" slot="activator">help_outline</v-icon>
                          <b>{{$t('This service is limited to')}} {{item.is_limited_to.join(', ')}}</b>
                        </v-tooltip>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
              </v-layout>

              <v-layout row wrap ma-2>
                <v-flex xs12>
                  <v-btn
                    color="primary"
                    @click="currentStep = 3"
                  >
                    {{$t('Continue')}}
                  </v-btn>

                  <v-btn text @click="currentStep--">{{$t('Back')}}</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-stepper-content>

        <v-stepper-content step="3" class="pl-1 pr-1">
          <v-card
            class="mb-12"
            color="grey lighten-3"
            height="440px"
            style="overflow: scroll"
          >
            <v-card-text>

              <v-layout row wrap ma-2>
                <v-flex xs12>
                  <h5>{{$t('Selected payment method')}}</h5>
                </v-flex>
                <v-flex xs6 sm3 pa-1>
                  <v-card v-if="selectedPaymentMethod && selectedPaymentMethod" class="ma-2 clickable">
                    <v-img :src="selectedPaymentMethod && selectedPaymentMethod.logo ? '/dist' + selectedPaymentMethod.logo : ''" aspect-ratio="1.54"></v-img>
                    <v-card-title primary-title class="pa-1 pl-2">
                      <div>
                        <!-- <div class="headline">{{selectedPaymentMethod.name}}</div> -->
                        <span>{{selectedPaymentMethod.provider}}</span>
                        <v-tooltip bottom color="white error--text" v-if="selectedPaymentMethod.is_limited_to">
                          <v-icon small color="error" class="ml-1" style="margin-top: -0.3em;" slot="activator">help_outline</v-icon>
                          <b>{{$t('This service is limited to')}} {{selectedPaymentMethod.is_limited_to.join(', ')}}</b>
                        </v-tooltip>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 v-if="selectedInstruction && selectedInstruction.id">
                  <div v-for="(item, index) in selectedInstruction.steps" :key="index">
                    <h4 v-if="item.title">Step {{index + 1}}: {{item.title}} </h4>
                    <p v-if="item.description">{{item.description}}</p>
                  </div>
                </v-flex>
                <v-flex xs12 v-if="selectedInstruction && selectedInstruction.id">
                  <form @submit.prevent="completeUpgrade">
                    <div v-for="(field, index) in selectedInstruction.fields" :key="index">
                      <v-text-field :id="field.id" :name="field.id" :label="field.text" type="text" v-model="field.value" required></v-text-field>
                    </div>
                    <div>
                      <v-btn color="primary" type="submit">{{$t('Send')}}</v-btn>
                      <v-btn text @click="currentStep--">{{$t('Back')}}</v-btn>
                    </div>
                  </form>
                </v-flex>
              </v-layout>


              <!-- <v-layout row wrap ma-2>
                <v-flex xs12>
                  <v-btn
                    color="primary"
                    @click="completeUpgrade"
                  >
                    {{$t('Send')}}
                  </v-btn>

                  <v-btn text @click="currentStep--">{{$t('Back')}}</v-btn>
                </v-flex>
              </v-layout> -->
            </v-card-text>
          </v-card>

        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
// import EventBus from '../main'

export default {
  name: 'subscription',
  data: () => ({
    selectedCurrency: '$',
    selectedPlan: null,
    subscriptionPlanChanged: false,
    paymentMethods: [
      {id: 'm-pesa-safaricom', name: 'M-Pesa', provider: 'Safaricom', logo: '/images/payment-methods/m-pesa.jpg', is_limited_to: ['Kenya', 'Uganda', 'Tanzania'], needs_trx_id: true},
      {id: 'evc-hormuud', name: 'EVC-Plus', provider: 'Hormuud', logo: '/images/payment-methods/evc-plus.jpg', is_limited_to: ['Somalia'], needs_trx_id: false},
      {id: 'gift-card', name: 'Gift card', provider: 'Our Partiners', logo: '/images/payment-methods/gift-card.jpeg', is_limited_to: null, needs_trx_id: true},
      {id: 'credit-card', name: 'Credit card', provider: 'Our Partiners', logo: '/images/payment-methods/credit-card.jpg', is_limited_to: null, needs_trx_id: false}
    ],
    selectedPaymentMethod: null,
    selectedInstruction: null,
    currentStep: 1
  }),

  computed: {
    ...mapGetters(['mySubscription', 'subscriptionTypes', 'profile', 'agent', 'quota']),
    filteredSubscriptionTypes () {
      if (this.subscriptionTypes && this.subscriptionTypes.length > 0) {
        return this.subscriptionTypes.filter(this.filterOnlyPaid) // .filter(this.nonSelected)
      }
      return []
    },
    isUpgrade () {
      if (this.selectedPlan && this.selectedPlan.listing_limit < 0) {
        return this.differentPlanSelected
      }
      if (this.selectedPlan && this.selectedPlan.name) {
        return this.selectedPlan.listing_limit > this.mySubscription.type.listing_limit
      }
      return false
    },
    differentPlanSelected () {
      return this.selectedPlan && this.mySubscription && this.mySubscription.type && this.mySubscription.type.name !== this.selectedPlan.name
    },
    filteredPaymentMethods () {
      return this.paymentMethods
    },
    upgradeBtnText () {
      if (!(this.selectedPlan && this.mySubscription && this.mySubscription.type && this.selectedPlan.name === this.mySubscription.type.name)) {
        return this.$t('Upgrade')
      }
      if (this.isUpgrade) {
        return this.$t('Upgrade')
      }
      return this.$t('Downgrade')
    },
    paymentMethodInstructions () {
      return [
        {
          id: 'm-pesa-safaricom',
          fields: [
            {id: 'transaction_id', text: 'Transaction ID', value: ''}
          ],
          steps: [
            {title: `Send Amount:`, description: `Send ${(this.selectedPlan.price * 100).toLocaleString('en-GB')} Ksh to safaricom number 0741620827 and submit the transaction ID below`, action: 'MPESA_PAYMENT'},
            {title: `Send M-Pesa Transaction ID:`, description: `Enter the transaction ID from the m-pesa message below`, action: ''}
          ]
        },
        {
          id: 'evc-hormuud',
          fields: [
            {id: 'phone_number', text: 'Phone number', value: ''},
            {id: 'amount_sent', text: 'Amount sent', value: ''}
          ],
          steps: [
            {title: 'Send Amount:', description: `Send ${(this.selectedPlan.price).toLocaleString('en-GB')} dollars to hormuud number 0615100829 and submit the sender's phone number below`, action: 'EVE_PAYMENT'}
          ]
        },
        {
          id: 'gift-card',
          fields: [
            {id: 'gift_card_number', text: 'Gift Card Number', value: ''}
          ],
          steps: [
            {title: 'Buying gift cards', description: 'Gift cards can be baught from Bolow ICT Solutions officeses and its partiners', action: 'BUY_GIFT_CARD'},
            {title: 'Enter gift card number', description: 'If you already baught a gift card enter below to complete your transaction', action: 'GIFT_CARD_PAYMENT'}
          ]
        } // ,
        // {
        //   id: 'credit-card',
        //   steps: [
        //     {title: '', description: '', action: ''}
        //   ]
        // }
      ]
    },
    isAgent () {
      return this.agent && this.agent.id && this.agent.id.length === 24
    }
  },

  created () {
    this.$store.dispatch('GET_SUBSCRIPTION_TYPES')
    this.$store.dispatch('GET_MY_SUBSCRIPTION')
  },

  methods: {
    getInstructionByID () {
      var id = null
      if (this.selectedPaymentMethod && this.selectedPaymentMethod.id) {
        id = this.selectedPaymentMethod.id
      }
      if (!id) {
        this.selectedInstruction = null
        return
      }
      let result = this.paymentMethodInstructions.filter(item => {
        if (item.id === id) {
          console.log('instruction-' + item.id, {item: item.id, id, steps: item.steps})
        }
        return item.id === id
      })
      if (result.length > 0) {
        this.selectedInstruction = result[0]
        console.log('getInstructionByID', this.selectedInstruction)
        return
      }
      this.selectedInstruction = null
    },
    selectPaymentMethod (item) {
      console.log('selectPaymentMethod', item)
      this.selectedPaymentMethod = item
      if (this.selectedPaymentMethod) {
        this.getInstructionByID()
      }
    },
    upgradePlan () {
      console.log('upgradePlan')
      this.subscriptionPlanChanged = true
    },
    completeUpgrade (e) {
      console.log('completeUpgrade', e)
      let fields = []
      for (var i = 0; i < e.target.length; i++) {
        console.log('field-' + i, e.target[i])
        if (e.target[i].type !== 'submit' && e.target[i].id !== '') {
          fields.push({id: e.target[i].id, value: e.target[i].value})
        }
      }
      console.log('completeUpgrade', fields)
      let msg = `Are you sure to subscribe to <b>${this.selectedPlan.name}</b> plan for <b>${this.selectedCurrency}${this.selectedPlan.price}/month</b> using <b>${this.selectedPaymentMethod.name}</b> as payment method?`
      this.$dialog.confirm(msg, {html: true}).then(val => {
        console.log('Yes?', val)
        this.$store.dispatch('COMPLETE_SUBSCRIPTION', {plan: this.selectedPlan, fields, method: this.selectedPaymentMethod.id}).then(resp => {
          console.log('COMPLETE_SUBSCRIPTION response', resp)
        }).catch(err => {
          console.log('COMPLETE_SUBSCRIPTION error', err)
        })
      }).catch(err => {
        console.log('No?', err)
      })
    },
    selectUpgradePlan (item) {
      this.selectedPlan = item
    },
    filterOnlyPaid (item) {
      return item && item.type === 'paid'
    },
    nonSelected (item) {
      if (!item) {
        return false
      }
      if (!this.mySubscription) {
        return false
      }
      if (!this.mySubscription && this.mySubscription.type) {
        return false
      }
      return this.mySubscription.type && this.mySubscription.type.name === item.name
    }
  }
}
</script>
<style>
.v-card .v-card__title .subscription-price-tag {
  position: absolute;
  right: 1em;
  top: auto;
  bottom: auto;
}
.v-card .v-card__title .subscription-price-tag small {
  font-weight: 300;
  font-size: 0.6em;
}
</style>
