<template>
  <div>
    <div v-if="$store.getters.app_loading.enable" class="loading-overlay">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-app id="inspire" v-if="!$route.meta.noLayout">
      <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        fixed
        app
      >
        <v-list dense>
            <v-list-tile @click="$router.push({name: 'Home'});drawer = false">
              <v-list-tile-action>
                <v-icon>home</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Home')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push({name: 'Dashboard'});drawer = false" v-if="is_logged_in && isAgent">
              <v-list-tile-action>
                <v-icon>dashboard</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Dashboard')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push({name: 'Profile'});drawer = false" v-if="is_logged_in && hasProfile">
              <v-list-tile-action>
                <v-icon>contact_mail</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Profile')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="$router.push({name: 'Login'});drawer = false" v-if="!is_logged_in">
              <v-list-tile-action>
                <v-icon>person</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Login')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="logout" v-else class="red--text">
              <v-list-tile-action>
                <v-icon  class="red--text">person_outline</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Logout')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            
            <v-list-tile v-for="lang in languages" :key="lang.key" @click="setLang(lang.key);drawer = false">
              <v-list-tile-title>
                <v-icon small class="success--text">{{lang.key === $i18n.locale() ? 'check_circle' : 'radio_button_unchecked'}}</v-icon>
                {{lang.name}}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
      </v-navigation-drawer>
      <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>
          <router-link class="home-link" :to="{name: 'Home'}">{{$t('iWeydi - House')}}</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="">
          <!-- <v-btn flat v-if="is_logged_in"><v-icon>settings</v-icon></v-btn> -->
          <v-menu bottom left>
            <v-btn
              slot="activator"
              dark
              icon
            >
              <v-icon>more_vert</v-icon>
            </v-btn>

            <v-list>
              <!-- <v-list-tile v-if="is_logged_in" @click="goToPage('/settings')">
                <v-list-tile-title>{{$t('Settings')}}</v-list-tile-title>
              </v-list-tile> -->
              <v-list-tile v-if="is_logged_in && isAgent" @click="goToPage('/subscription')">
                <v-list-tile-title style="height:30px;">
                  {{$t('Subscription')}}
                  <v-chip v-if="mySubscription && mySubscription.type && mySubscription.type.name" small :color="!mySubscription.type.name ? 'primary' : 'success'" text-color="white">{{mySubscription.type.name}}</v-chip>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-if="is_logged_in" @click="goToPage('/profile')">
                <v-list-tile-title>{{$t('Profile')}}</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-else @click="goToPage('/login')">
                <v-list-tile-title>{{$t('Login')}}</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile v-for="lang in languages" :key="lang.key" @click="setLang(lang.key)">
                <v-list-tile-title>
                  <v-icon v-if="lang.key === $i18n.locale()" small class="success--text">check_circle_outline</v-icon>
                  <v-icon v-else small>panorama_fish_eye</v-icon>
                  {{lang.name}}
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar-items>
        <v-progress-linear
          class="header-loading-animation-progressbar"
          color="secondary"
          v-if="$store.getters.app_loading.enable"
          :indeterminate="true"
        ></v-progress-linear>
      </v-toolbar>
      <v-content>
        <router-view class="child-view"></router-view>
      </v-content>
      <v-footer class="pa-2" color="indigo" app>
          <span class="white--text">&copy; 2017</span>
          <v-spacer></v-spacer>
          <v-btn small flat v-if="$route.name === 'Home'" color="white darken-1" @click="toggleListMapModes">
            <v-icon v-if="!isListModeHome">list</v-icon>
            <v-icon v-else>map</v-icon>
            {{$t(!isListModeHome ? 'List' : 'Map')}}
          </v-btn>
        </v-footer>
    </v-app>
    <div v-else>
      <router-view></router-view>
    </div>
    <v-snackbar
      v-model="success_message.show"
      :color="'success'"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="success_message.timeout"
      :vertical="false"
    >
      {{ $t(success_message.text) }}
      <v-btn
        dark
        flat
        icon
        @click="success_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="error_message.show"
      :color="'error'"
      class="black--text"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="error_message.timeout"
      :vertical="false"
    >
      <b>{{ error_message.text }}</b>
      <v-btn
        dark
        flat
        icon
        @click="error_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-dialog persistent fullscreen scrollable class="house-details-popup" light v-model="showHousePopup" width="800">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title v-if="houseMapPopupData && houseMapPopupData.data">{{houseMapPopupData.data.prefix}} for {{houseMapPopupData.data.amount}} {{houseMapPopupData.data.currency}}</v-toolbar-title>
          <v-toolbar-title v-else>{{$t('Loading...')}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="showHousePopup = false"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>

        <v-card-text>
          <house-details v-if="houseMapPopupData && houseMapPopupData.data" :id="houseMapPopupData.data.id"></house-details>
          <h3 v-else>{{$t('Loading...')}}</h3>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {EventBus} from './main'
import HouseDetails from './components/partials/HouseDetails.vue'
import $ from 'jquery'
export default {
  name: 'App',
  components: {
    'house-details': HouseDetails
  },
  data () {
    return {
      success_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      error_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      languages: [
        {name: 'English', key: 'en'},
        {name: 'Soomaali', key: 'so'}
      ]
    }
  },
  computed: {
    ...mapGetters(['houseMapPopupData', 'showHouseMapPopup', 'is_logged_in', 'mySubscription', 'profile', 'agent']),
    hasProfile () {
      return this.profile && this.profile.id && this.profile.id.length === 24
    },
    isAgent () {
      console.log('isAgent', window.clone(this.agent))
      return this.agent && this.agent.id && this.agent.id.length === 24
    },
    showHousePopup: {
      get () {
        return this.showHouseMapPopup
      },
      set (val) {
        this.getHouseData(this.houseMapPopupData && this.houseMapPopupData.data && this.houseMapPopupData.data.id)
        if (val) {
          this.$store.commit('SHOW_HOUSE_MAP_POPUP')
          EventBus.$emit('SHOW_HOUSE_MAP_POPUP', (this.houseMapPopupData && this.houseMapPopupData.data))
        } else {
          this.$store.commit('HIDE_HOUSE_MAP_POPUP')
          EventBus.$emit('HIDE_HOUSE_MAP_POPUP', (this.houseMapPopupData && this.houseMapPopupData.data))
        }
      }
    },
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (newValue) {
        this.$store.commit('DRAWER', newValue)
      }
    },
    isListModeHome: {
      get () {
        return this.$store.getters.listModeHome
      },
      set (newValue) {
        console.log('isListModeHome', newValue)
        this.$store.commit('IS_LIST_MODE_HOME', newValue)
      }
    }
  },

  watch: {
    drawer (val) {
      console.log('drawer', val)
      if (window.innerWidth > 1263) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else if (val) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else {
        $('.header-loading-animation-progressbar').removeClass('with-sidebar')
      }
    }
  },

  beforeMount () {
    this.initUser()
    this.getCurrencies()
    EventBus.$on('alert_message', data => {
      console.log('alert_message', data)
      if (data && data.type === 'error') {
        this.error_message.text = data.text
        this.error_message.show = true
        console.error('alert_message', data)
      } else if (data && data.type === 'success') {
        this.success_message.text = data.text
        this.success_message.show = true
        console.info('alert_message', data)
      }
    })
    this.$nextTick(() => {
      console.log('$nextTick', window.clone(this.profile))
    })
    if (this.is_logged_in) {
      this.$store.dispatch('GET_PROFILE').then(this.getSubscriptionData)
      if (!this.isAgent) {
        console.error('IS NOT AGENT!')
      }
    } else {
      console.error('NOT LOGGED IN!')
    }
  },

  methods: {
    getSubscriptionData (data) {
      console.log('getSubscriptionData response', data)
      this.$store.dispatch('GET_SUBSCRIPTION_TYPES')
      this.$store.dispatch('GET_MY_SUBSCRIPTION')
    },
    getHouseData (id) {
      console.log('App.getHouseData', id)
      this.$store.dispatch('GET_HOUSE_BY_ID', id)
    },
    setLang (lang) {
      this.$i18n.set(lang)
      console.log('setLang', [lang, this.$i18n.locale()])
      localStorage.setItem('lang', lang)
    },
    goToPage (url) {
      this.$router.push(url)
    },
    getCurrencies () {
      this.$store.dispatch('GET_CURRENCIES')
    },
    toggleListMapModes () {
      console.log('toggleListMapModes', this.$store.getters.listModeHome)
      if (this.$store.getters.listModeHome) {
        this.isListModeHome = false
      } else {
        this.isListModeHome = true
      }
    },
    initUser () {
      let auth = window.localStorage.getItem('auth')
      if (auth != null) {
        console.log('auth', auth)
        auth = JSON.parse(auth)
        console.log('auth', auth)
        this.$store.commit('SET_TOKEN', auth.jwt_token)
        this.$store.commit('SET_LEVEL', auth.level)
        this.$store.commit('SET_PROFILE', auth.profile)
        this.$store.commit('SET_USER_LEVEL', auth.role)
      }
    },
    logout () {
      this.$store.dispatch('CLEAR_ALL')
      this.$router.push('/login')
      EventBus.$emit('alert_message', {type: 'success', text: 'Logout successful'})
    }
  }
}
</script>
<style>
.loading-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10000;
}
.loading-overlay .v-progress-circular {
  position: absolute;
  top: 45%;
  left: 45%;
}
.header-loading-animation-progressbar {
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-loading-animation-progressbar.with-sidebar {
  left: 300px;
}
.home-link {
  text-decoration: none;
  color: #fff;
}
</style>
