<template>
  <div class="agent-card-wrapper">
    <v-card v-if="!errorMessage && data" class="pa-1">
      <!-- <pre>{{contactURL}}</pre> -->
      <v-layout>
        <v-flex xs12 pa-2 v-if="data.slug" class="title-text">
          <router-link :to="`/agent/${data.slug}`">
            <h3>{{data.name || data.slug}}</h3>
          </router-link>
        </v-flex>
        <v-flex xs12>
          <v-btn small class="primary float-right mt-2 mr-0" :href="contactURL.url"><v-icon color="white">{{contactURL.icon}}</v-icon> {{$t('Contact Agent')}}</v-btn>
        </v-flex>
        <!-- <v-flex xs9>
          <div class="contacts">
            <span :class="index === 0 ? '' : 'ml-2'" v-for="(contact, index) in data.contacts" :key="contact.value">
              <v-icon small>{{contact.icon}}</v-icon>
              {{contact.value}}
            </span>
          </div>
        </v-flex> -->
      </v-layout>
      
    </v-card>
    <v-card v-else-if="errorMessage.length > 0">
      <h3 class="error--text">
        {{errorMessage}}
      </h3>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'agent-card',
  props: {
    id: String
  },
  data () {
    return {
      data: null,
      errorMessage: 'Loading...'
    }
  },
  computed: {
    contactURL () {
      let contact = this.getFirstContact()
      let type = contact && contact.label
      switch (type) {
        case 'whatsapp':
        case 'WhatsApp':
          return {url: `https://api.whatsapp.com/send?phone=${contact.value}`, icon: 'whatsapp', type}
        case 'Phone':
        case 'phone':
          return {url: `tel:${contact.value}`, icon: 'phone', type}
        case 'Email':
        case 'email':
          return {url: `mailto://${contact.value}`, icon: 'email', type}
        default:
          return {url: '', icon: '', type}
      }
    }
  },
  beforeMount () {
    console.log('beforeMount', this.id)
    this.getAgentData()
  },
  methods: {
    getFirstContact () {
      let contact = this.agentContact('whatsapp') || this.agentContact('phone') || this.agentContact('email')
      console.log('getFirstContact', JSON.parse(JSON.stringify(contact)))
      return contact || null
    },
    agentContact (type) {
      let item = this.data && this.data.contacts && this.data.contacts.filter((item) => {
        console.log('item:', JSON.parse(JSON.stringify(item)))
        return item.label === type || item.icon === type
      })
      console.log('agentContact', {type, item})
      if (item && item.length > 0) {
        return item[0]
      }
      return null
    },
    getAgentData () {
      console.log('getAgentData', this.id)
      if (!this.id) {
        this.errorMessage = 'Invalid agent ID'
        return
      }
      let self = this
      this.$store.dispatch('GET_AGENT_BY_ID', this.id).then(resp => {
        self.errorMessage = ''
        console.log('getAgentData', resp.agent)
        self.data = resp.agent
      }).catch(err => {
        self.errorMessage = err.toString()
        self.data = null
      })
    }
  }
}
</script>
