<template>
  <div class="dashboard-lisiting-wrapper">
    <div class="bordered-1 ma-1 fill-height">
      <v-btn v-if="title !== 'Top Viewed' && (quota && quota.available >= 1)" small class="primary float-right mt-2" @click="toggleNewListingForm"><v-icon color="white">add</v-icon> Add</v-btn>
      <h2 class="mb-2 mt-2">
        {{title}}
      </h2>
      <div>
        <v-list two-line dense v-if="Lisitng && Lisitng.length > 0">
          <v-subheader
            v-if="title"
          >
            {{title}}
          </v-subheader>
          <v-divider></v-divider>
          <template v-for="item in Lisitng">
            <v-list-tile
              :key="item.title"
              avatar
            >
              <v-list-tile-avatar class="square-avatar">
                <img v-if="item.image_urls && item.image_urls.length > 0" style="bordered-1" :src="baseURL + item.image_urls[0]">
                <img v-else style="bordered-1" :src="defaultImage(item.is_for_rent)">
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title style="text-transform: uppercase;">{{getLisitngTitle(item)}}</v-list-tile-title>
                <v-list-tile-sub-title>
                  {{item.view_count}}
                  <v-icon small>remove_red_eye</v-icon>
                  {{getListingDescription(item)}}
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-menu bottom left>
                  <v-btn
                    slot="activator" 
                    icon
                  >
                    <v-icon>more_vert</v-icon>
                  </v-btn>

                  <v-list>
                    <v-list-tile
                      @click="editItem(item)"
                    >
                      <v-list-tile-title>
                        <v-icon small color="success lighten-1">edit</v-icon> Edit
                      </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      @click="deleteItem(item)"
                    >
                      <v-list-tile-title>
                        <v-icon small color="error lighten-1">delete</v-icon> Delete
                      </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      
                    >
                      <v-list-tile-title>
                        <v-icon small color="primary lighten-1">publish</v-icon> Publish
                      </v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
        <v-card v-else>
          <p class="pa-3 mb-0 warning--text">
            No items found
          </p>
        </v-card>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  name: 'dashboard-lisiting',
  props: {
    title: String,
    Lisitng: Array
  },
  computed: {
    ...mapGetters(['quota']),
    quotaAvailable () {
      console.log('quotaAvailable', this.quota)
      return this.quota && this.quota.available
    },
    baseURL () {
      return window.baseURL
    }
  },
  methods: {
    defaultImage (isForRent) {
      return `/dist/signs/for-${isForRent ? 'rent' : 'sale'}-sign-${this.$i18n.locale()}.png`
    },
    editItem (item) {
      this.$emit('editItem', item)
    },
    deleteItem (item) {
      this.$dialog.confirm('Are you sure to delete <b>' + this.getLisitngTitle(item) + '</b> from your listing?', {html: true}).then(() => {
        this.$emit('deleteItem', item.id)
      })
    },
    toggleNewListingForm () {
      this.$emit('toggleNewListingForm')
    },
    getLisitngTitle (item) {
      let txt = ''
      if (item && item.type && item.type.name) {
        if (item.quantity > 0) {
          txt += item.quantity === 1 ? '' : item.quantity
          txt += (item.quantity === 1 ? ' ' + item.type.name.toLocaleLowerCase() : item.type.name.toLocaleLowerCase() + 's')
        } else {
          txt += item.type.name
        }
        if (item.is_for_rent) {
          txt += ' for rent'
          if (item.rent_price) {
            txt += ' for ' + item.rent_price.toLocaleString('en-GB') + ' ' + (item.rent_currency && item.rent_currency.Code ? item.rent_currency.Code : '')
          }
        } else if (item.is_for_sale) {
          txt += ' for rent'
          if (item.sale_price) {
            txt += ' for ' + item.sale_price.toLocaleString('en-GB') + ' ' + (item.sale_currency && item.sale_currency.Code ? item.sale_currency.Code : '')
          }
        } else {
          txt += ' for sale'
        }
      }
      return txt
    },
    getListingDescription (item) {
      let txt = ''
      if (item && item.address && item.address.name) {
        txt += item.address.name + ' '
      } else if (item && item.address.city) {
        txt += item.address.city + ', ' + item.address.country + ' '
      }
      if (item.created_at) {
        let dStr = new Date(item.created_at).toLocaleString('en-GB')
        txt += dStr.substring(0, dStr.length - 3) // + ' ' + (new Date(item.created_at).toLocaleTimeString('en-GB'))
      }
      return txt
    }
  }
}
</script>
