<template>
<v-dialog persistent fullscreen scrollable v-model="showDialog">
  <v-card class="elevation-1" v-if="showDialog">
    <v-toolbar color="indigo" dark class="elevation-0">
      <v-btn flat icon @click="changeShow(false)"><v-icon>chevron_right</v-icon></v-btn>
      
      <v-toolbar-title>{{$t('Filters')}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-card-text style="max-height:80vh !important; overflow: scroll;">
      <form @submit.prevent="runFilter" @reset.prevent="resetFilter">

        <v-layout column>
          <v-flex pt-3>
            <h4>
              <v-checkbox class="ml-2 ma-0" v-model="filter_price" label="Price range"></v-checkbox>
            </h4>
            <v-layout row wrap pl-2 pr-2 pt-0>
              <v-flex xs12>
                <v-range-slider
                  class="elevation-0 mb-0 pb-0"
                  v-model="priceRange"
                  :max="maxPriceRange || 1000000"
                  :min="20"
                  :step="10"
                  :disabled="!filter_price"
                ></v-range-slider>
              </v-flex>
              <v-flex
                xs3
                class="pt-2"
              >
                <label for="maxPriceRange">{{$t('Min.')}}</label>
              </v-flex>
              <v-flex
                xs3
                class="pr-1"
              >
                <v-text-field
                  v-model.number="priceRange[0]"
                  class="mt-0 pt-0 text-xs-left"
                  id="minPriceRange"
                  hide-details
                  single-line
                  type="number"
                  :max="maxPriceRange || 1000000"
                  :min="1"
                  :disabled="!filter_price"
                ></v-text-field>
              </v-flex>
              <v-flex
                xs3
                class="pl-1"
              >
                <v-text-field
                  v-model.number="priceRange[1]"
                  class="mt-0 pt-0"
                  id="maxPriceRange"
                  hide-details
                  single-line
                  type="number"
                  :max="maxPriceRange"
                  :min="1"
                  :disabled="!filter_price"
                ></v-text-field>
              </v-flex>
              <v-flex
                xs3
                class="pt-2"
              >
                <label for="minPriceRange">{{$t('Max.')}}</label>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex mt-3>
            <h4>{{$t('Amenities')}}:</h4>
            <v-layout row wrap class="amenities-checkbox-items">
              <v-flex xs12>
                <v-checkbox class="ml-2 ma-0" prepend-icon="restaurant_menu" v-model="filter.has_kitchen" :label="$t('Has kitchen?')" :title="$t('Has kitchen?')"></v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-checkbox class="ml-2 ma-0" prepend-icon="ac_unit" v-model="filter.has_airconditioning" :label="$t('Has A/C?')" :title="$t('Has Airconditioner?')"></v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-checkbox class="ml-2 ma-0" prepend-icon="wifi" v-model="filter.has_wifi" :label="$t('Has WiFi?')" :title="$t('Has WiFi Internet?')"></v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-checkbox class="ml-2 ma-0" prepend-icon="local_parking" v-model="filter.has_parking" :label="$t('Has Parking?')" :title="$t('Has Parking?')"></v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-checkbox class="ml-2 ma-0" prepend-icon="local_hotel" v-model="filter.is_furnished" :label="$t('Is Furnished?')" :title="$t('Is Furnished?')"></v-checkbox>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex mt-3>
            <h4>{{$t('Buy or Rent?')}}</h4>
            <!-- <v-checkbox class="ml-2 ma-0" v-model="onlyForRent" label="Price range"></v-checkbox> -->
            <v-radio-group v-model="buyOrRent" :column="false" style="justify-content: center;">
              <v-radio
                :label="$t('Both')"
                value="both"
              ></v-radio>
              <v-radio
                :label="$t('For rent only')"
                value="rent_only"
              ></v-radio>
              <v-radio
                :label="$t('For sale only')"
                value="sale_only"
              ></v-radio>
            </v-radio-group>
          </v-flex>
        </v-layout>
        <v-layout row mt-2>
          <v-spacer></v-spacer>
          <v-btn color="primary" type="reset">{{$t('Reset')}}</v-btn>
          <v-btn color="primary" type="submit">{{$t('Filter')}}</v-btn>
        </v-layout>
      </form>
    </v-card-text>





  </v-card>
</v-dialog>
</template>
<script>
import {mapGetters} from 'vuex'
import { EventBus } from '../../main'

export default {
  name: 'filter-sidebar',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      filter: {
        has_kitchen: false,
        has_airconditioning: false,
        has_wifi: false,
        has_parking: false,
        is_furnished: false
      },
      filter_price: true,
      priceRange: [1, 1000000],
      maxPriceRange: 1000000,
      minPriceRange: 1,
      buyOrRent: 'rent_only',
      pageWidth: 500,
      showDialog: false
    }
  },
  computed: {
    ...mapGetters(['filter_sidebar', 'max_price'])
  },
  watch: {
    max_price (val) {
      this.maxPriceRange = val || 1000000
      this.priceRange[1] = val || 1000000
    },
    filter_sidebar () {
      this.maxPriceRange = this.max_price || 1000000
      this.priceRange[1] = this.max_price || 1000000
    },
    show (val) {
      console.log('show changed', val)
      this.showDialog = val
    }
  },
  methods: {
    getPageWidth () {
      this.pageWidth = Object(document.querySelector('main.v-content')).clientWidth
    },
    toggle () {
      if (this.filter_sidebar) {
        this.changeShow(false)
      } else {
        this.changeShow(true)
      }
    },
    changeShow (show) {
      console.log('changeShow', show)
      if (!show) {
        this.$emit('close')
      }
      this.showDialog = show
    },
    runFilter () {
      let data = {
        ...this.filter,
        max_price: (this.filter_price ? (this.priceRange[1] || 1000000) : ''),
        min_price: (this.filter_price ? (this.priceRange[0] || 1000000) : ''),
        listing_type: this.buyOrRent
      }
      EventBus.$emit('RUN_FILTERS', data)
      this.toggle()
    },
    resetFilter () {
      this.filter = {
        has_kitchen: false,
        has_airconditioning: false,
        has_wifi: false,
        has_parking: false,
        is_furnished: false
      }
      this.filter_price = true
      this.maxPriceRange = this.max_price || 1000000
      this.priceRange[1] = this.max_price || 1000000
      this.minPriceRange = 1
      this.buyOrRent = 'both'
      EventBus.$emit('RESET_FILTERS')
    }
  },
  beforeMount () {
    this.showDialog = this.show
    this.getPageWidth()
  }
}
</script>
<style>
/* .filter-sidebar-wrapper {
  position: absolute;
  right: -800px;
  top: 1em;
  bottom: 0;
  max-width: 500px;
  min-width: 350px;
  min-height: 75vh;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1em rgba(0,0,0,0.12);
  transition: right 1s ease-in-out;
  z-index: 3;
}
.filter-sidebar-wrapper.active {
  right: 0;
}
.filter-sidebar-wrapper > .layout {
  margin-right: 1.5em;
}
#maxPriceRange {
  text-align: left;
}
#minPriceRange {
  text-align: right;
}
.amenities-checkbox-items .v-input--checkbox {
  height: 2em;
}
.amenities-checkbox-items .v-input--checkbox .v-messages {
  display: none;
}
.amenities-checkbox-items .v-input--checkbox .v-input__slot {
  margin-bottom: 0;
}
.amenities-checkbox-items .v-input--checkbox .v-input__append-outer .v-icon {
  color: rgba(0, 0, 0, 0.2)
}
.amenities-checkbox-items .v-input--checkbox.v-input--is-label-active .v-icon {
  color: #1976d2;
} */

.amenities-checkbox-items .flex.xs12 {
  height: 2.5em;
}
</style>
