<template>
  <div class="home-listing-wrapper">
    <div class="list-type-control-btns pl-2">
      {{$t('Change view')}}:
      <v-btn flat small icon @click="isGridView = false">
        <v-icon :color="isGridView ? '' : 'primary'">view_list</v-icon>
      </v-btn>
      <v-btn flat small icon @click="isGridView = true">
        <v-icon :color="isGridView ? 'primary' : ''">view_module</v-icon>
      </v-btn>
    </div>
    <h5 class="mb-2">{{$t('Results')}}: {{items.length}} {{$t(items.length === 1 ? 'item' : 'items')}}</h5>    
    <v-layout row wrap align-start dense>
      <v-flex xs12 v-if="!isGridView">
        <v-list three-line dense>
          <template v-for="(item, index) in Listing">
            <v-subheader
              v-if="item.header"
              :key="item.header"
            >
              {{item.header}}
            </v-subheader>

            <v-divider
              v-else-if="item.divider"
              :key="index"
              :inset="item.inset"
            ></v-divider>

            <v-list-tile
              v-else
              class="compacted-list-item"
              :key="item.title"
              avatar
              @click="showItem(item)"
            >
              <v-list-tile-avatar class="square-avatar">
                <img style="bordered-1" :src="getFirstImage(item.image_urls, item.is_for_rent)">
              </v-list-tile-avatar>

              <v-list-tile-content class="pl-1">
                <v-list-tile-title class="all-uppercase">
                  {{getLisitngTitle(item)}}
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  <v-tooltip bottom>
                    <v-chip small label :color="item.is_for_rent ? 'teal darken-4' : 'green darken-4'" text-color="white" slot="activator">
                      <span v-if="item.is_for_rent">{{item.rent_price | toShortString}} {{item.rent_currency && item.rent_currency.Code ? item.rent_currency.Code : ''}}</span>
                      <span v-if="item.is_for_sale">{{item.sale_price | toShortString}} {{item.sale_currency && item.sale_currency.Code ? item.sale_currency.Code : ''}}</span>
                    </v-chip>
                    <span v-if="item.is_for_rent">{{item.rent_price | toShortString}} {{item.rent_currency && item.rent_currency.Name ? item.rent_currency.Name : ''}}</span>
                    <span v-if="item.is_for_sale">{{item.sale_price | toShortString}} {{item.sale_currency && item.sale_currency.Name ? item.sale_currency.Name : ''}}</span>
                  </v-tooltip>

                  <v-icon small>location_on</v-icon>
                  {{item && item.address && item.address.name}}
                  <span class="floated-listing-date">
                    <v-icon small>access_time</v-icon>
                    {{item && item.created_at | toLocaleString}}
                  </span>
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <!-- <v-list-tile-action class="pa-1">
                <v-chip small class="teal darken-4" text-color="white" @click="showItem(item)" style="height: 18px;cursor:pointer;">
                  <span class="">{{item.view_count | shortNumber}}</span>
                  <v-icon small right class="">remove_red_eye</v-icon>
                </v-chip>
              </v-list-tile-action> -->
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
      <v-flex v-else pa-2 xs12 sm3 v-for="item in Listing" :key="item.id">
        <v-card class="bordered-1 list-view-card-item" @click="showItem(item)">
          <v-img
            class="bottom-bordered-1"
            :src="getFirstImage(item.image_urls, item.is_for_rent)"
            :aspect-ratio="$vuetify.breakpoint.xs ? '2.5' : '1.6'"
          >
            <div class="price-tag-chip">
              <v-tooltip bottom>
                <v-chip small label :color="item.is_for_rent ? 'teal darken-4' : 'green darken-4'" text-color="white" slot="activator">
                  <b>
                    <span v-if="item.is_for_rent">{{item.rent_price | toLocaleString}} {{item.rent_currency && item.rent_currency.Code ? item.rent_currency.Code : ''}}</span>
                    <span v-if="item.is_for_sale">{{item.sale_price | toLocaleString}} {{item.sale_currency && item.sale_currency.Code ? item.sale_currency.Code : ''}}</span>
                  </b>
                </v-chip>
                <span v-if="item.is_for_rent">{{item.rent_price | toLocaleString}} {{item.rent_currency && item.rent_currency.Name ? item.rent_currency.Name : ''}}</span>
                <span v-if="item.is_for_sale">{{item.sale_price | toLocaleString}} {{item.sale_currency && item.sale_currency.Name ? item.sale_currency.Name : ''}}</span>
              </v-tooltip>
            </div>
          </v-img>
          <v-card-title primary-title class="pa-1">
            <div class="headline all-uppercase mb-0 teal--text text--darken-4 text-xs-left" style="font-size: 0.95em !important;width:100%;">
              <small class="all-lowercase float-right">{{(item.updated_at.indexOf('0001') === 0 ? item.created_at : item.updated_at) | toDateDiffString}}</small>
              <b>{{getLisitngTitle(item, true)}}</b>
            </div>
          </v-card-title>
          <v-card-text class="pa-0 text-xs-left" style="min-height: 2.5em;">
            <v-layout row wrap>
              <v-flex xs8>
                <item-rating :id="item.agen_user_id" target="agent" :isReadonly="true"></item-rating>
              </v-flex>
              <v-flex xs4>
                <div class="amenities-icons float-right">
                  <v-tooltip bottom v-if="item.has_kitchen">
                    <v-icon small color="teal darken-4" slot="activator">restaurant_menu</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> {{$t('has a kitchen')}}</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_airconditioning">
                    <v-icon small color="teal darken-4" slot="activator">ac_unit</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> {{$t('has an airconditioning')}}</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_wifi">
                    <v-icon small color="teal darken-4" slot="activator">wifi</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> {{$t('has a WiFi internet')}}</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_parking">
                    <v-icon small color="teal darken-4" slot="activator">local_parking</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> {{$t('has a parking space')}}</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.is_furnished">
                    <v-icon small color="teal darken-4" slot="activator">local_hotel</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> {{$t('has a furniture')}}</b>
                  </v-tooltip>
                </div>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions class="pt-0 pl-1 mt-1">
            <v-layout row>
              <v-flex xs8 style="overflow: hidden;">
                <v-tooltip bottom style="width: 100%;display:block;margin-top:5px;">
                  <span class="address-text" style="font-size: 0.85em;" slot="activator">{{item.address | toaddress}}</span>
                  <span style="font-size: 0.85em;">{{item.address | toaddress}}</span>
                </v-tooltip>
              </v-flex>
              <v-flex xs4>
                <v-chip small class="teal darken-4" text-color="white" @click="showItem(item)" style="height: 18px;cursor:pointer;">
                  <span class="">{{item.view_count | shortNumber}}</span>
                  <v-icon small right class="ml-1">remove_red_eye</v-icon>
                </v-chip>
              </v-flex>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog persistent fullscreen scrollable v-model="showQuickView">
      <v-card class="elevation-1" v-if="selectedItem">
        <v-toolbar dark color="primary">
          <v-toolbar-title><h3 class="all-uppercase">{{getLisitngTitle(selectedItem)}}</h3></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="showQuickView = false"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>
        
        <v-card-text>
          <house-details :id="selectedItem.id"></house-details>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Images from './Images.vue'
import Rating from './Rating.vue'
import HouseDetails from './HouseDetails.vue'
export default {
  name: 'home-listing',
  props: {
    items: Array
  },
  components: {
    'images': Images,
    'item-rating': Rating,
    'house-details': HouseDetails
  },
  data () {
    return {
      selectedItem: null,
      showQuickView: false,
      isGridView: false
    }
  },
  computed: {
    Listing () {
      return [
        ...this.items
      ].reverse()
    }
  },
  watch: {
    isGridView (val) {
      localStorage.setItem('isGridView', val)
    },
    showQuickView (val) {
      console.log('watch::showQuickView', this.selectedItem && this.selectedItem.id)
    }
  },
  created () {
    let isGridView = localStorage.getItem('isGridView')
    if (isGridView !== null) {
      this.isGridView = isGridView
    }
  },
  methods: {
    defaultImage (isForRent) {
      return `/dist/signs/for-${isForRent ? 'rent' : 'sale'}-sign-${this.$i18n.locale()}.png`
    },
    showPopup (data) {
      if (data && data.id) {
        this.$store.commit('SHOW_HOUSE_MAP_POPUP', {id: data.id, type: 'house', data})
        this.$forceUpdate()
      }
    },
    getFirstImage (list, isForRent) {
      console.log('getFirstImage', {list, isForRent})
      if (!list || list.length < 1) {
        return this.defaultImage(isForRent)
      }
      return window.baseURL + list[0]
    },
    showImage (url, noDefault, isForRent) {
      if (!url) {
        return noDefault ? '' : this.defaultImage(isForRent)
      }
      return window.baseURL + url
    },
    showItem (item) {
      this.selectedItem = this.clone(item)
      this.showQuickView = true
      // this.showPopup(this.selectedItem)
    },
    clone (obj) {
      if (typeof obj !== 'object') {
        return obj
      }
      return JSON.parse(JSON.stringify(obj))
    },
    getLisitngTitle (item, noPrice) {
      let txt = ''
      if (item && item.type && item.type.name) {
        if (item.quantity > 0) {
          // txt += item.quantity === 1 ? '' : item.quantity + ' '
          switch (item.type.name.toLocaleLowerCase()) {
            case 'room':
              if (item.is_for_rent) {
                txt += this.$t('{count} rooms for rent ::: {count} room for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} rooms for sale ::: {count} room for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'flat/apartment':
              if (item.is_for_rent) {
                txt += this.$t('{count} flats for rent ::: {count} flat for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} flats for sale ::: {count} flat for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'villa':
              if (item.is_for_rent) {
                txt += this.$t('{count} villas for rent ::: {count} villa for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} villas for sale ::: {count} villa for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'bunglow':
              if (item.is_for_rent) {
                txt += this.$t('{count} bunglows for rent ::: {count} bunglow for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} bunglows for sale ::: {count} bunglow for sale', {count: item.quantity}, item.quantity)
              }
              break

            default:
              if (item.is_for_rent) {
                txt += this.$t('{count} houses for rent ::: {count} house for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} houses for sale ::: {count} house for sale', {count: item.quantity}, item.quantity)
              }
              break
          }
          // (item.quantity === 1 ? ' ' + item.type.name.toLocaleLowerCase() : item.type.name.toLocaleLowerCase() + 's') + ' '
        } else {
          txt += this.$t(item.type.name)
        }
        // txt += item.address && item.address.name ? item.address.name : (item.address && item.address.city)
      }
      return txt
    },
    getListingDescription (item) {
      let txt = ''
      if (item && item.address && item.address.name) {
        txt += item.address.name + ' '
      } else if (item && item.address.city) {
        txt += item.address.city + ', ' + item.address.country + ' '
      }
      if (item.created_at) {
        let dStr = new Date(item.created_at).toLocaleString('en-GB')
        txt += dStr.substring(0, dStr.length - 3) // + ' ' + (new Date(item.created_at).toLocaleTimeString('en-GB'))
      }
      return txt
    }
  }
}
</script>
<style>
.home-listing-wrapper .list-type-control-btns {
  float: right;
  margin-top: -1.5em;
}
.home-listing-wrapper .list-type-control-btns button.v-btn {
  z-index: 3;
}
.home-listing-wrapper .price-tag-chip {
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 2;
}
.home-listing-wrapper .square-avatar {
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}
.home-listing-wrapper .square-avatar img {
  border-radius: 0;
  min-width: 5em;
  width: 100%;
  height: auto;
  margin-left: 0.8em;
}
.home-listing-wrapper .amenities-icons {
  min-height: 2em;
}
.home-listing-wrapper .amenities-icons .v-icon {
  border: 1px solid;
  border-radius: 0.2em;
  margin: 0.1em;
  padding: 0.1em;
  cursor: help;
}
.home-listing-wrapper .views-count {
  color: #a0a0a0;
  cursor: pointer;
}
.home-listing-wrapper .list-view-card-item {
  border-radius: 5px;
  cursor: pointer;
}
.home-listing-wrapper .v-rating .v-icon {
  padding-right: 1px;
  padding-left: 1px;
}
.home-listing-wrapper .list-view-card-item .v-card__actions .v-chip .v-chip__content {
  padding-left: 6px;
  height: 20px;
}
.home-listing-wrapper .address-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  overflow: hidden;
}
.compacted-list-item > .v-list__tile {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: .3em;
}
.item-label {
  display: inline-block;
  font-weight: bold;
  min-width: 5.5em;
}
.floated-listing-date {
  float:right;
  margin-right: 1em;
}
</style>
