<template>
  <div class="house-details-wrapper">
    <div v-if="!errorMessage && data">
      <!-- <pre>{{data}}</pre> -->
      <v-layout row wrap>
        <v-flex xs12 sm5>
          <agent-card class="pa-1" :id="data.agen_user_id"></agent-card>
          <images :imageURLs="data.image_urls" :is-for-rent="data.is_for_rent"></images>
        </v-flex>
        <v-flex xs12 sm7 pa-2>
          <router-link :to="'/house/'+id" style="max-width: 35em;">
            <h2>
              <!-- {{data.type.name}} for {{data.is_for_rent ? 'rent' : 'sale'}}
              {{data.is_for_rent && data.rent_price && data.rent_currency ? '@ ' + data.rent_price.toLocaleString('en-GB') + ' ' + data.rent_currency.Code  : ''}}
              {{data.is_for_sale && data.sale_price && data.sale_currency ? '@ ' + data.sale_price.toLocaleString('en-GB') + ' ' + data.sale_currency.Code  : ''}} -->
              {{getLisitngTitle(data)}}
            </h2>
          </router-link>
          <div class="contacts">
            <span class="ml-2" v-for="contact in data.contacts" :key="contact.value">
              <v-icon small>{{contact.icon}}</v-icon>
              {{contact.value}}
            </span>
          </div>
          <v-layout row wrap justify-start>
            <v-flex xs12>
              <ul style="list-style: none;padding-left: 0.2em;">
                <!-- <li>
                  <strong>{{getLisitngTitle(data)}}</strong>
                </li> -->
                <li>
                  <div class="item-label">{{$t('Location')}}:</div> {{data.address.name}}
                </li>
                <li>
                  <div class="item-label">{{$t('Bathooms')}}:</div> {{data.bathrooms_count}}
                </li>
                <li>
                  <div class="item-label">{{$t('Amenities')}}:</div>
                  <v-chip ma-0 v-if="data.has_kitchen" :style="`color: ${data.has_kitchen === true ? 'green': 'gray'};display: inline-block ;`"><v-icon small :color="data.has_kitchen ? 'success': 'gray'">restaurant_menu</v-icon> {{$t('Kitchen')}}</v-chip>
                  <v-chip ma-0 v-if="data.has_airconditioning" :style="`color: ${data.has_airconditioning === true ? 'green': 'gray'};display: inline-block ;`"><v-icon small :color="data.has_airconditioning ? 'success': 'gray'">ac_unit</v-icon> {{$t('A/C')}}</v-chip>
                  <v-chip ma-0 v-if="data.has_wifi" :style="`color: ${data.has_wifi === true ? 'green': 'gray'};display: inline-block ;`"><v-icon small :color="data.has_wifi ? 'success': 'gray'">wifi</v-icon> {{$t('WiFi')}}</v-chip>
                  <v-chip ma-0 v-if="data.has_parking" :style="`color: ${data.has_parking === true ? 'green': 'gray'};display: inline-block ;`"><v-icon small :color="data.has_parking ? 'success': 'gray'">local_parking</v-icon> {{$t('Parking')}}</v-chip>
                  <v-chip ma-0 v-if="data.is_furnished" :style="`color: ${data.is_furnished === true ? 'green': 'gray'};display: inline-block ;`"><v-icon small :color="data.is_furnished ? 'success': 'gray'">local_hotel</v-icon> {{$t('Furnished')}}</v-chip>
                </li>
              </ul>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
    <v-card v-else-if="errorMessage.length > 0">
      <h3 class="error--text">
        {{errorMessage}}
      </h3>
    </v-card>
  </div>
</template>
<script>
import {EventBus} from '../../main'
import AgentCard from './AgentCard.vue'
import Images from './Images.vue'
export default {
  name: 'house-details',
  props: {
    id: String
  },
  components: {
    'agent-card': AgentCard,
    'images': Images
  },
  data () {
    return {
      data: null,
      errorMessage: 'Loading...'
    }
  },
  computed: {
  },
  watch: {
    id (val) {
      console.log('ID', val)
      this.getHouseData(val)
    }
  },
  beforeMount () {
    console.log('beforeMount', this.id)
    this.getHouseData(this.id)
    EventBus.$on('SHOW_HOUSE_MAP_POPUP', houseData => {
      console.log('SHOW_HOUSE_MAP_POPUP', houseData)
      this.getHouseData(this.id)
    })
    EventBus.$on('HIDE_HOUSE_MAP_POPUP', houseData => {
      console.log('HIDE_HOUSE_MAP_POPUP', houseData)
      this.getHouseData(this.id)
    })
  },
  methods: {
    defaultImage (isForRent) {
      return `/dist/signs/for-${isForRent ? 'rent' : 'sale'}-sign-${this.$i18n.locale()}.png`
    },
    getLisitngTitle (item, noPrice) {
      let txt = ''
      if (item && item.type && item.type.name) {
        if (item.quantity > 0) {
          // txt += item.quantity === 1 ? '' : item.quantity + ' '
          switch (item.type.name.toLocaleLowerCase()) {
            case 'room':
              if (item.is_for_rent) {
                txt += this.$t('{count} rooms for rent ::: {count} room for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} rooms for sale ::: {count} room for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'flat/apartment':
              if (item.is_for_rent) {
                txt += this.$t('{count} flats for rent ::: {count} flat for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} flats for sale ::: {count} flat for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'villa':
              if (item.is_for_rent) {
                txt += this.$t('{count} villas for rent ::: {count} villa for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} villas for sale ::: {count} villa for sale', {count: item.quantity}, item.quantity)
              }
              break
            case 'bunglow':
              if (item.is_for_rent) {
                txt += this.$t('{count} bunglows for rent ::: {count} bunglow for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} bunglows for sale ::: {count} bunglow for sale', {count: item.quantity}, item.quantity)
              }
              break

            default:
              if (item.is_for_rent) {
                txt += this.$t('{count} houses for rent ::: {count} house for rent', {count: item.quantity}, item.quantity)
              } else {
                txt += this.$t('{count} houses for sale ::: {count} house for sale', {count: item.quantity}, item.quantity)
              }
              break
          }
          // (item.quantity === 1 ? ' ' + item.type.name.toLocaleLowerCase() : item.type.name.toLocaleLowerCase() + 's') + ' '
        } else {
          txt += this.$t(item.type.name)
        }
        // txt += item.address && item.address.name ? item.address.name : (item.address && item.address.city)
      }
      return txt
    },
    getFirstImage (list, noDefault, isForRent) {
      if (!list) {
        return noDefault ? '' : this.defaultImage(isForRent)
      }
      return window.baseURL + list[0]
    },
    showImage (url, noDefault, isForRent) {
      if (!url) {
        return noDefault ? '' : this.defaultImage(isForRent)
      }
      return window.baseURL + url
    },
    getHouseData (id) {
      if (!id) {
        this.errorMessage = 'Invalid house ID'
        return
      }
      let self = this
      this.$store.dispatch('GET_HOUSE_BY_ID', id).then(resp => {
        self.errorMessage = ''
        console.log('getHouseData', resp.house)
        self.data = resp.house
      }).catch(err => {
        self.errorMessage = err.toString()
        self.data = null
      })
    }
  }
}
</script>
<style>
.house-details-wrapper {
  min-height: 35em;
}
.details-table {
  min-width: 100%;
}
.details-table th {
  text-align: right;
  max-width: 5em;
}
.details-table td {
  padding-left: 1em;
  text-align: left;
  max-width: 5em;
}
</style>

