<template>
  <div class="images-wrapper">
    <v-layout row wrap>
      <v-flex xs12 pa-1 class="bordered-1">
        <v-img :src="getFirstImage(imageURLs)" aspect-ratio="1.2"></v-img>
      </v-flex>
      <v-flex xs4 pa-1 class="bordered-1" v-for="(image, index) in imageURLs.slice(1)" :key="index">
        <v-img :src="showImage(image)" aspect-ratio="1.2"></v-img>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'images',
  props: {
    imageURLs: Array,
    isForRent: Boolean
  },
  data () {
    return {
    }
  },
  methods: {
    defaultImage () {
      return `/dist/signs/for-${this.isForRent ? 'rent' : 'sale'}-sign-${this.$i18n.locale()}.png`
    },
    getFirstImage (list, noDefault) {
      if (!list || list.length < 1) {
        return noDefault ? '' : this.defaultImage()
      }
      return window.baseURL + list[0]
    },
    showImage (url, noDefault, isForRent) {
      if (!url) {
        return noDefault ? '' : this.defaultImage()
      }
      return window.baseURL + url
    }
  }
}
</script>
