<template>
  <div class="user-profile-wrapper">
    <div v-if="cardType === 'tiny-card'">
      <v-card
        max-width="344"
        class="mx-auto"
      >
        <v-list-item>
          <v-list-item-avatar color="grey"></v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="headline">{{getFullName(user)}}</v-list-item-title>
            <v-list-item-subtitle>by Kurt Wagner</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </div>
    <div v-else-if="cardType === 'small-card'">
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">OVERLINE</div>
            <v-list-item-title class="headline mb-1">{{getFullName(user)}}</v-list-item-title>
            <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-avatar
            tile
            size="80"
            color="grey"
          ></v-list-item-avatar>
        </v-list-item>

        <v-card-actions v-if="withActions">
          <v-btn text>Button</v-btn>
          <v-btn text>Button</v-btn>
        </v-card-actions>
      </v-card>
    </div>
    <div v-else-if="cardType === 'medium-card'">
      <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text"
          height="200px"
          :src="$store.getters.noImageDefault"
        >
          <v-card-title class="align-end fill-height">
            <v-icon dark v-if="isAgent">work</v-icon>
            <v-icon dark v-else>person</v-icon>
            {{getFullName(user)}}
          </v-card-title>
        </v-img>

        <v-card-text>
          <span>{{$t('Member since')}}: {{user.created_at | dateDiff}}</span><br>
          <span class="text--primary">
            <span>{{isAgent ? user.slug : user.gender}}</span><br>
            <!-- <span>Whitsunday Island, Whitsunday Islands</span> -->
          </span>
        </v-card-text>

        <v-card-actions v-if="withActions">
          <v-btn
            text
            color="orange"
          >
            Share
          </v-btn>
          <v-btn
            text
            color="orange"
          >
            Explore
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'user-card',
  props: {
    cardType: {
      type: String,
      default: 'tiny-card'
    },
    withActions: {
      type: Boolean,
      default: false
    },
    isAgent: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    getFullName (user) {
      let name = ''
      if (!this.isAgent && user && (user.first_name || user.last_name)) {
        name += user.first_name
        name += user.last_name ? ` ${user.last_name}` : ''
      } else if (this.isAgent && user && (user.name || user.slug)) {
        name = (user.name || user.slug)
      }
      return name || '[Unknown]'
    }
  }
}
</script>

<style>

</style>
